
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.wrap-loader{
	position: fixed;
	top: -20%;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #266eb6;
	z-index: 9999999;
	opacity: 0;
	visibility: hidden;
	transition: all 0.6s;
}
.wrap-loader.active{
	opacity: 1;
	visibility: visible;
}


.la-square-jelly-box{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.la-square-jelly-box>div:nth-child(1),.la-square-jelly-box>div:nth-child(2) {
    position: absolute;
    left: 0;
    right: 0;
}

.la-square-jelly-box>div:nth-child(1) {
    top: -25%;
    z-index: 2;
    height: 100%;
    border-radius: 10%;
    animation: square-jelly-box-animate 0.6s -0.1s linear infinite;
    background: #fff;
}

.la-square-jelly-box>div:nth-child(2) {
    bottom: -9%;
    z-index: 1;
    height: 10%;
    background: #000;
    border-radius: 50%;
    opacity: .2;
    animation: square-jelly-box-shadow 0.6s -0.1s linear infinite;
}




@keyframes square-jelly-box-animate {
    17% {
        border-bottom-right-radius: 10%;
    }

    25% {
        transform: translateY(25%) rotate(22.5deg);
    }

    50% {
        border-bottom-right-radius: 100%;
        transform: translateY(50%) scale(1, 0.9) rotate(45deg);
    }

    75% {
        transform: translateY(25%) rotate(67.5deg);
    }

    100% {
        transform: translateY(0) rotate(90deg);
    }
}

@keyframes square-jelly-box-shadow {
    50% {
        transform: scale(1.25, 1);
    }
}