@charset "UTF-8";
/*
* @Author: cs5
* @Date:   2018-04-12 13:30:23
* @Last Modified by:   cs5
* @Last Modified time: 2018-04-12 16:30:11
*/
/*
 * scss变量设置
 */
/*  */
/*主色*/
/* 最大宽度 */
/*
* @Author: cs5
* @Date:   2018-04-12 13:30:23
* @Last Modified by:   cs5
* @Last Modified time: 2018-04-12 16:30:11
*/
/*
 * scss函数设置
 */
/*  */
/*高度与行高设置*/
/*宽度与高度设置*/
/*字体设置*/
/*背景图片设置*/
/*背景图片设置*/
/*注意： @import url('common.css');这种是写是属于css的，在scss中编译过程将找不到文件*/
.table {
  width: 100%;
  background-color: transparent;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  box-sizing: border-box;
  border-spacing: 0;
  border-collapse: collapse !important;
  /*比较重要的属性,利用谷歌浏览器调试工具从boostrap table框架插件中学到的*/
}

.table td, .table th {
  box-sizing: border-box;
  vertical-align: top;
}

.table tbody tr td {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 8px 10px;
  width: 160px;
  height: 100px;
  vertical-align: middle;
  text-align: center;
}

.table tbody tr td:nth-child(1) {
  background-color: #4d4348;
  width: 60px;
  color: #fff;
  padding: 0 15px;
}

.nav-list {
  line-height: 36px;
  padding-left: 20px;
}

.kyxw-news-all {
  padding-bottom: 50px;
}

.kyxw-news-all .main-width {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.kyxw-news-all .main-width .section {
  width: 560px;
}

.kyxw-news-all .main-width .section .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 15px;
  border-bottom: 1px solid #aaa;
}

.kyxw-news-all .main-width .section .head .left {
  position: relative;
  line-height: 1;
  padding-left: 15px;
}

.kyxw-news-all .main-width .section .head .left:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 5px;
  height: 24px;
  background-color: #dd137b;
}

.kyxw-news-all .main-width .desc a {
  border-bottom: 1px dotted #aaa;
  padding: 30px 0px 20px;
  display: flex;
  justify-content: space-between;
}

.kyxw-news-all .main-width .desc a .img-box {
  min-width: 180px;
  width: 180px;
  height: 120px;
}

.kyxw-news-all .main-width .desc a .img-box img {
  width: 100%;
}

.kyxw-news-all .main-width .desc a .right {
  width: 360px;
}

.kyxw-news-all .main-width .desc a .right .title {
  margin-bottom: 12px;
  position: relative;
  padding-left: 20px;
}

.kyxw-news-all .main-width .desc a .right .title:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent transparent #dd137b;
}

.kyxw-news-all .main-width .desc a .right .intro {
  line-height: 2;
}

.kyxw-news-all .main-width ul {
  padding: 15px 0px;
}

.kyxw-news-all .main-width ul li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  position: relative;
}

.kyxw-news-all .main-width ul li a:before {
  content: '>';
  display: block;
  color: #3ea2ff;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  line-height: 0;
}

.kyxw-news-all .main-width ul li a .title {
  width: 100%;
}

.kyxw-news-all .main-width ul li a .time {
  min-width: 110px;
  width: 110px;
  text-align: right;
}

.kyxw-art-list .main-width {
  padding: 50px;
  display: flex;
  justify-content: space-between;
}

.kyxw-art-list .main-width .left {
  width: 160px;
}

.kyxw-art-list .main-width .left ul li {
  margin-bottom: 20px;
}

.kyxw-art-list .main-width .left ul li:hover a, .kyxw-art-list .main-width .left ul li.active a {
  background-color: #dd137b;
}

.kyxw-art-list .main-width .left ul li:hover a .img-box .img0, .kyxw-art-list .main-width .left ul li.active a .img-box .img0 {
  display: none;
}

.kyxw-art-list .main-width .left ul li:hover a .img-box .img1, .kyxw-art-list .main-width .left ul li.active a .img-box .img1 {
  display: block;
}

.kyxw-art-list .main-width .left ul li:hover a .title, .kyxw-art-list .main-width .left ul li.active a .title {
  color: #fff;
}

.kyxw-art-list .main-width .left ul li a {
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 40px;
  background-color: #f4f4f4;
}

.kyxw-art-list .main-width .left ul li a .img-box img {
  width: 20px;
  height: 20px;
  margin-left: 22px;
  margin-right: 15px;
}

.kyxw-art-list .main-width .left ul li a .img-box .img0 {
  display: block;
}

.kyxw-art-list .main-width .left ul li a .img-box .img1 {
  display: none;
}

.kyxw-art-list .main-width .right {
  width: 880px;
}

.kyxw-art-list .main-width .right ul li {
  padding: 20px 0px 20px;
  border-bottom: 1px solid #eee;
}

.kyxw-art-list .main-width .right ul li:nth-child(1) {
  padding: 0px 0px 20px;
}

.kyxw-art-list .main-width .right ul li a {
  display: flex;
  justify-content: space-between;
}

.kyxw-art-list .main-width .right ul li a .img-box {
  width: 240px;
  height: 160px;
}

.kyxw-art-list .main-width .right ul li a .img-box img {
  width: 100%;
}

.kyxw-art-list .main-width .right ul li a .desc {
  width: 620px;
  position: relative;
}

.kyxw-art-list .main-width .right ul li a .desc .title {
  font-weight: bold;
  margin-bottom: 20px;
}

.kyxw-art-list .main-width .right ul li a .desc .intro {
  line-height: 1.8;
}

.kyxw-art-list .main-width .right ul li a .desc .time-more {
  position: absolute;
  bottom: 3px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kyxw-art-list .main-width .right .page {
  margin-top: 30px;
}

/* 头部导航 start */
.header {
  height: 68px;
}

.header .head-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  border-bottom: 1px solid #eee;
}

.header .head-box .main-width {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding-right: 160px;
}

.header .head-box .main-width .logo {
  width: 248px;
  display: flex;
  align-items: center;
}

.header .head-box .main-width > ul {
  display: flex;
  align-items: center;
}

.header .head-box .main-width > ul > li {
  position: relative;
  margin-right: 40px;
}

.header .head-box .main-width > ul > li.active > a {
  color: #dd137b;
}

.header .head-box .main-width > ul > li:hover > a {
  color: #dd137b;
}

.header .head-box .main-width > ul > li:hover .second {
  opacity: 1;
  visibility: visible;
}

.header .head-box .main-width > ul > li > a {
  line-height: 68px;
  padding: 0 8px;
  white-space: nowrap;
}

.header .head-box .main-width > ul > li .second {
  position: absolute;
  top: 68px;
  left: -22px;
  z-index: 3899;
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.header .head-box .main-width > ul > li .second a {
  padding: 12px 30px;
  white-space: nowrap;
  color: #666;
  width: 100%;
}

.header .head-box .main-width > ul > li .second a:hover {
  color: #333;
  background-color: #f4f4f4;
}

.header .head-box .main-width .phone {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header .head-box .main-width .phone img {
  width: 15px;
  height: 15px;
}

.header .head-box .main-width .phone span {
  margin-left: 10px;
}

/* 头部导航 end */
/* 底部信息 start */
.foot .foot-box a.hover:hover {
  color: #dd137b;
}

.foot .foot-box .section-head {
  height: 48px;
  border-bottom: 1px solid #444;
}

.foot .foot-box .section-head a {
  display: block;
  height: 100%;
  background-image: url(../img/go-top.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px;
}

.foot .foot-box .section-main {
  margin: 60px auto 50px;
  padding-left: 295px;
  padding-right: 200px;
  position: relative;
  min-height: 150px;
}

.foot .foot-box .section-main .left {
  position: absolute;
  top: 0;
  left: 0;
}

.foot .foot-box .section-main .left img {
  width: 190px;
}

.foot .foot-box .section-main .middle > ul {
  display: flex;
  justify-content: space-between;
}

.foot .foot-box .section-main .middle > ul > li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.foot .foot-box .section-main .middle > ul > li .title {
  margin-bottom: 18px;
}

.foot .foot-box .section-main .middle > ul > li .sub-list {
  margin-bottom: 5px;
}

.foot .foot-box .section-main .right {
  position: absolute;
  top: 0;
  right: 0;
}

.foot .foot-box .section-main .right img {
  width: 115px;
  vertical-align: middle;
  margin-bottom: 10px;
}

.foot .foot-box .section-friendship {
  padding: 20px 0;
  border-top: 1px dotted #444;
  border-bottom: 1px dotted #444;
  display: flex;
  justify-content: space-between;
}

.foot .foot-box .section-friendship > ul {
  overflow: hidden;
  height: 16px;
  transition: all 0.3s;
  margin-bottom: -10px;
}

.foot .foot-box .section-friendship > ul > li {
  margin-bottom: 10px;
  float: left;
}

.foot .foot-box .section-friendship > ul > li a {
  margin-right: 32px;
}

.foot .foot-box .section-friendship .footer-friendship-more {
  text-align: right;
  min-width: 30px;
  width: 30px;
  height: 18px;
}

.foot .foot-box .section-friendship .footer-friendship-more.active img {
  transform: rotate(180deg);
}

.foot .foot-box .section-friendship .footer-friendship-more img {
  width: 18px;
  height: 18px;
  cursor: pointer;
  transition: all 0.3s;
}

.foot .foot-box .section-bottom {
  padding: 22px 0px;
}

/* 底部信息 end */
/* 客服 start */
.custom-service {
  position: fixed;
  bottom: 250px;
  right: 0px;
  z-index: 999999;
  width: 106px;
  height: 75px;
  text-align: right;
}

.custom-service img {
  width: 100%;
  cursor: pointer;
}

/*客服 end */
.wrap-banner a {
  display: block;
  position: relative;
  height: 450px;
  overflow: hidden;
}

.wrap-banner a img {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

/* 首页 start */
.home .wrap-slide {
  height: 500px;
}

.home .wrap-slide .slide-box {
  height: 100%;
}

.home .wrap-slide .slide-box .swiper-container {
  height: 100%;
}

.home .wrap-slide .slide-box .swiper-container .swiper-wrapper {
  height: 100%;
}

.home .wrap-slide .slide-box .swiper-container .swiper-wrapper .swiper-slide {
  height: 100%;
}

.home .wrap-slide .slide-box .swiper-container .swiper-wrapper .swiper-slide a {
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}

.home .wrap-slide .slide-box .swiper-container .swiper-wrapper .swiper-slide a img {
  width: 1920px;
  height: 500px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.home .wrap-slide .slide-box .swiper-container .swiper-pagination-bullet-active {
  background-color: #dd137b;
}

.home .gyk-link {
  padding: 80px 0px;
}

.home .gyk-link .box {
  display: flex;
  flex-wrap: wrap;
}

.home .gyk-link .box a {
  display: block;
  width: 380px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  transition: all 0.3s;
  min-height: 345px;
  margin-right: 30px;
}

.home .gyk-link .box a:nth-child(3n+3) {
  margin-right: 0px;
}

.home .gyk-link .box a:hover {
  background-color: #dd137b;
}

.home .gyk-link .box a:hover .desc * {
  color: #fff;
}

.home .gyk-link .box a .img-box {
  height: 240px;
}

.home .gyk-link .box a .img-box img {
  width: 100%;
}

.home .gyk-link .box a .desc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 105px;
}

.home .gyk-link .box a .desc .title {
  line-height: 2;
}

.home .school-news {
  padding: 80px 0px;
  background-color: #f8f8f8;
}

.home .school-news .main-width {
  display: flex;
  justify-content: space-between;
}

.home .school-news .main-width .run-school {
  width: 820px;
}

.home .school-news .main-width .run-school .box .head {
  margin-bottom: 30px;
}

.home .school-news .main-width .run-school .box .wrap-section {
  position: relative;
}

.home .school-news .main-width .run-school .box .wrap-section .section {
  border: 1px solid #ddd;
}

.home .school-news .main-width .run-school .box .wrap-section .section1, .home .school-news .main-width .run-school .box .wrap-section .section2 {
  display: flex;
  height: 220px;
  width: 535px;
  overflow: hidden;
}

.home .school-news .main-width .run-school .box .wrap-section .section1 .img, .home .school-news .main-width .run-school .box .wrap-section .section2 .img {
  min-width: 268px;
  width: 268px;
  height: 220px;
}

.home .school-news .main-width .run-school .box .wrap-section .section1 .img img, .home .school-news .main-width .run-school .box .wrap-section .section2 .img img {
  width: 100%;
  height: 100%;
}

.home .school-news .main-width .run-school .box .wrap-section .section1 .sh-desc, .home .school-news .main-width .run-school .box .wrap-section .section2 .sh-desc {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home .school-news .main-width .run-school .box .wrap-section .section1 .sh-desc .title, .home .school-news .main-width .run-school .box .wrap-section .section2 .sh-desc .title {
  font-weight: bold;
  margin-bottom: 15px;
}

.home .school-news .main-width .run-school .box .wrap-section .section1 .sh-desc .introduce, .home .school-news .main-width .run-school .box .wrap-section .section2 .sh-desc .introduce {
  line-height: 1.8;
}

.home .school-news .main-width .run-school .box .wrap-section .section2 {
  flex-direction: row-reverse;
  margin-top: 15px;
}

.home .school-news .main-width .run-school .box .wrap-section .section3 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 268px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.home .school-news .main-width .run-school .box .wrap-section .section3 .img-box {
  width: 100%;
  height: 227px;
  min-height: 227px;
}

.home .school-news .main-width .run-school .box .wrap-section .section3 .img-box img {
  width: 100%;
  height: 100%;
}

.home .school-news .main-width .run-school .box .wrap-section .section3 .sh-desc {
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home .school-news .main-width .run-school .box .wrap-section .section3 .sh-desc .title {
  font-weight: bold;
  margin-bottom: 15px;
}

.home .school-news .main-width .run-school .box .wrap-section .section3 .sh-desc .introduce {
  line-height: 1.8;
}

.home .school-news .main-width .news {
  width: 325px;
}

.home .school-news .main-width .news .box .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.home .school-news .main-width .news .box .head .more {
  line-height: 28px;
  padding: 0px 10px;
  border-radius: 20px;
  border: 1px solid #999;
}

.home .school-news .main-width .news .box ul li:nth-last-child(1) a {
  border-bottom: 4px solid #dd137b;
  padding: 12px 0px 21px;
}

.home .school-news .main-width .news .box ul li a {
  display: flex;
  padding: 12px 0px;
  border-bottom: 1px solid #eee;
}

.home .school-news .main-width .news .box ul li a .img-box {
  width: 100px;
  height: 66px;
  margin-right: 10px;
}

.home .school-news .main-width .news .box ul li a .img-box img {
  width: 100%;
  height: 100%;
}

.home .school-news .main-width .news .box ul li a .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home .school-news .main-width .news .box ul li a .right .title {
  max-height: 38px;
}

/* 首页 end */
/* 关于 start */
.about .school-profile .main-width .title {
  padding: 80px 0px 60px;
}

.about .school-profile .main-width .desc {
  line-height: 2.5;
  padding: 0px 150px 70px;
}

.about .school-profile .main-width .desc p {
  text-indent: 38px;
}

.about .characteristic {
  background-color: #f2f2f2;
  padding-bottom: 80px;
}

.about .characteristic .main-width .title {
  padding: 80px 0px 60px;
}

.about .characteristic .main-width .six-box {
  position: relative;
}

.about .characteristic .main-width .six-box .ch-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.about .characteristic .main-width .six-box .ch-logo img {
  margin-bottom: 30px;
}

.about .characteristic .main-width .six-box ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about .characteristic .main-width .six-box ul li {
  width: 468px;
  height: 140px;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  margin-bottom: 20px;
  background-color: #fff;
}

.about .characteristic .main-width .six-box ul li:nth-last-child(1), .about .characteristic .main-width .six-box ul li:nth-last-child(2) {
  margin-bottom: 0;
}

.about .characteristic .main-width .six-box ul li img {
  width: 100%;
}

.about .characteristic .main-width .six-box ul li .desc {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 185px;
  background-color: rgba(221, 19, 123, 0.9);
  padding: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about .characteristic .main-width .six-box ul li .desc:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: -26px;
  transform: translateY(-50%);
  border-style: solid;
  border-color: transparent rgba(221, 19, 123, 0.9) transparent transparent;
  border-width: 13px;
}

.about .characteristic .main-width .six-box ul li .desc .desc-num {
  font-style: italic;
  position: absolute;
  top: 6px;
  right: 15px;
}

.about .characteristic .main-width .six-box ul li .desc .desc-title {
  margin-bottom: 6px;
}

.about .characteristic .main-width .six-box ul li .desc .desc-intro {
  line-height: 2;
}

.about .kyscsp .main-width .head {
  padding: 80px 0px 60px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.about .kyscsp .main-width .head > * {
  margin: 0px 15px;
  line-height: 50px;
  padding: 0px 30px;
  border-radius: 50px;
  background-color: #ddd;
  cursor: pointer;
}

.about .kyscsp .main-width .head > *.active {
  background-color: #dd137b;
  color: #fff;
}

.about .kyscsp .main-width .content ul {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.about .kyscsp .main-width .content ul li {
  width: 288px;
}

.about .kyscsp .main-width .content ul li .img-box {
  width: 100%;
  height: 180px;
}

.about .kyscsp .main-width .content ul li .desc {
  margin-top: 10px;
}

.about .kyscsp .main-width .more {
  text-align: center;
  padding: 56px 0px 80px;
}

/* 关于 end */
/* 2·2-关于凯悦-凯悦学子-列表 start */
.student-list .content {
  background-color: #f8f8f8;
  padding-top: 32px;
}

.student-list .content .main-width .head-title {
  padding: 60px 0px;
}

.student-list .content .main-width ul {
  display: flex;
  flex-wrap: wrap;
}

.student-list .content .main-width ul li {
  cursor: pointer;
  width: 288px;
  margin-bottom: 10px;
  margin-right: 16px;
}

.student-list .content .main-width ul li:nth-child(4n+4) {
  margin-right: 0px;
}

.student-list .content .main-width ul li .img-box {
  height: 180px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.student-list .content .main-width ul li .desc {
  padding: 10px 0px;
}

.student-list .content .main-width .page {
  padding: 50px 0px 80px;
}

.student-list .wrap-slide {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  transition: all 0.3s;
  z-index: 999999;
}

.student-list .wrap-slide.active {
  opacity: 1;
  visibility: visible;
}

.student-list .wrap-slide .slide-box {
  width: 1000px;
  height: 670px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.student-list .wrap-slide .slide-box .close {
  font-weight: 100;
  position: absolute;
  top: 0;
  right: -70px;
  cursor: pointer;
  width: 28px;
  height: 28px;
  background-image: url(../img/close-layer.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.student-list .wrap-slide .slide-box .swiper-container .swiper-wrapper .swiper-slide .img-box {
  width: 100%;
  height: 578px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.student-list .wrap-slide .slide-box .swiper-container .swiper-wrapper .swiper-slide .desc {
  margin-top: 28px;
}

.student-list .wrap-slide .slide-box .swiper-container .swiper-button-next, .student-list .wrap-slide .slide-box .swiper-container .swiper-button-prev {
  width: 60px;
  height: 60px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.student-list .wrap-slide .slide-box .swiper-container .swiper-button-next {
  background-image: url(../img/swiper-button-next.png);
}

.student-list .wrap-slide .slide-box .swiper-container .swiper-button-prev {
  background-image: url(../img/swiper-button-prev.png);
}

.student-list .wrap-slide .slide-box .swiper-container .swiper-button-disabled {
  opacity: 0.5;
}

/* 2·2-关于凯悦-凯悦学子-列表 end */
/* 2·4-关于凯悦-视频中心-列表 start */
.video .content {
  background-color: #f8f8f8;
  padding-top: 32px;
}

.video .content .main-width .head-title {
  padding: 60px 0px;
}

.video .content .main-width ul {
  display: flex;
  flex-wrap: wrap;
}

.video .content .main-width ul li {
  cursor: pointer;
  width: 288px;
  margin-bottom: 10px;
  margin-right: 16px;
}

.video .content .main-width ul li:nth-child(4n+4) {
  margin-right: 0px;
}

.video .content .main-width ul li a {
  display: block;
}

.video .content .main-width ul li a .img-box {
  height: 180px;
  background-image: url(../img/video-center.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.video .content .main-width ul li a .img-box .cn {
  color: #f7e101;
  margin-top: 6px;
  width: 100%;
  max-width: 100%;
  text-align: center;
}

.video .content .main-width ul li a .desc {
  display: block;
  padding: 10px 0px 15px;
}

.video .content .main-width .page {
  padding: 50px 0px 80px;
}

/* 2·4-关于凯悦-视频中心-列表 end */
/* 2·5-关于凯悦-视频中心-详情 start */
.video-details .content {
  background-color: #f8f8f8;
  padding-top: 32px;
}

.video-details .content .main-width .head-title {
  padding: 60px 0px 30px;
}

.video-details .content .main-width .details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

/* 2·5-关于凯悦-视频中心-详情 end */
/* 3·0-艺考生培训-总页面 start */
/* 3·0-艺考生培训-总页面 end */
/* 3·1-艺考生培训-列表 start */
/* 3·1-艺考生培训-列表 end */
/* 3·2-艺考生培训-详情 start */
.art-details .content {
  background-color: #fff;
  padding-top: 32px;
}

.art-details .content .main-width .nav-list {
  padding-left: 50px;
}

.art-details .content .main-width .article {
  padding: 80px 50px;
  display: flex;
  justify-content: space-between;
}

.art-details .content .main-width .article .left {
  width: 768px;
}

.art-details .content .main-width .article .left .time {
  padding: 25px 0px 30px;
}

.art-details .content .main-width .article .left .article-content {
  padding: 50px 0px;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
}

.art-details .content .main-width .article .left .article-content img {
  max-width: 100% !important;
  height: auto !important;
}

.art-details .content .main-width .article .left .prev {
  display: block;
  margin: 55px 0px 25px;
}

.art-details .content .main-width .article .left .next {
  display: block;
  margin-bottom: 110px;
}

.art-details .content .main-width .article .right {
  width: 272px;
}

.art-details .content .main-width .article .right .head {
  margin-bottom: 15px;
  position: relative;
  line-height: 1;
  padding-left: 15px;
}

.art-details .content .main-width .article .right .head:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 5px;
  height: 24px;
  background-color: #dd137b;
}

.art-details .content .main-width .article .right ul li {
  padding: 16px 0px;
  border-bottom: 1px solid #eee;
}

.art-details .content .main-width .article .right ul li a {
  display: flex;
  justify-content: space-between;
}

.art-details .content .main-width .article .right ul li a .img-box {
  width: 100px;
  height: 66px;
}

.art-details .content .main-width .article .right ul li a .right-box {
  height: 66px;
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.art-details .content .main-width .article .right .advertisement {
  background-color: #eee;
  margin-top: 50px;
}

.art-details .content .main-width .article .right .advertisement a {
  display: block;
}

.art-details .content .main-width .article .right .advertisement a .img-box img {
  width: 100%;
}

.art-details .content .main-width .article .right .advertisement a .title {
  padding: 16px 12px;
}

/* 3·2-艺考生培训-详情 end */
/* 4·1-港澳台联考-总页面 start */
/* 4·1-港澳台联考-总页面 end */
/* 4·2-港澳台联考-列表 start */
/* 4·2-港澳台联考-列表 end */
/* 5·1-新闻动态-常见问题 start */
.common-problem .kyxw-art-list .right ul li {
  margin-bottom: 20px;
  padding: 0px !important;
  border: 1px solid #eaeaea;
}

.common-problem .kyxw-art-list .right ul li .ask {
  border-bottom: 1px solid #eaeaea;
  padding-left: 75px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
}

.common-problem .kyxw-art-list .right ul li .ask .ask-title {
  width: 680px;
  position: relative;
}

.common-problem .kyxw-art-list .right ul li .ask .ask-title:before {
  content: '';
  display: block;
  position: absolute;
  top: -4px;
  left: -45px;
  width: 30px;
  height: 30px;
  background-image: url(../img/ico-ask.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.common-problem .kyxw-art-list .right ul li .ask .ask-time {
  width: 125px;
  min-width: 125px;
  text-align: center;
}

.common-problem .kyxw-art-list .right ul li .answer {
  padding-left: 75px;
  padding-bottom: 25px;
  padding-top: 30px;
}

.common-problem .kyxw-art-list .right ul li .answer .answer-title {
  margin-bottom: 25px;
  position: relative;
}

.common-problem .kyxw-art-list .right ul li .answer .answer-title:before {
  content: '';
  display: block;
  position: absolute;
  top: -4px;
  left: -45px;
  width: 30px;
  height: 30px;
  background-image: url(../img/ico-answer.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.common-problem .kyxw-art-list .right ul li .answer .answer-desc {
  line-height: 2;
}

/* 5·1-新闻动态-常见问题 end */
/* 6·1-联系我们 start */
.contact-us .c-way .main-width {
  padding: 80px 50px;
}

.contact-us .c-way .main-width .title {
  margin-bottom: 60px;
}

.contact-us .c-way .main-width .address-map {
  height: 450px;
}

.contact-us .c-way .main-width .address-map img {
  width: 100%;
}

.contact-us .c-way .main-width .more-info .mi-title {
  font-weight: bold;
  margin: 50px 0px;
}

.contact-us .c-way .main-width .more-info .left {
  width: 410px;
  line-height: 1.8;
}

.contact-us .c-way .main-width .more-info .left p {
  margin-bottom: 15px;
}

.contact-us .c-way .main-width .more-info .right {
  width: 690px;
  line-height: 1.8;
}

.contact-us .c-way .main-width .more-info .right p {
  margin-bottom: 22px;
}

.contact-us .online-registration {
  background-color: #f8f8f8;
  overflow: hidden;
}

.contact-us .online-registration .main-width {
  padding: 0px 50px;
}

.contact-us .online-registration .main-width .title {
  padding: 60px 0px;
}

.contact-us .online-registration .main-width .section .sub-title {
  position: relative;
  width: 180px;
  line-height: 40px;
  box-shadow: 4px 4px 0px #efa8cc;
}

.contact-us .online-registration .main-width .section ul {
  margin: 36px 0px 50px;
}

.contact-us .online-registration .main-width .btn {
  width: 300px;
  margin: 50px auto 80px;
  line-height: 50px;
}

.contact-us .online-registration .main-width .btn:hover {
  background-color: #cd006a;
}

.contact-us .online-registration .main-width .info ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-us .online-registration .main-width .info ul li {
  position: relative;
  width: 510px;
  margin-bottom: 10px;
}

.contact-us .online-registration .main-width .info ul li.not-null:before {
  content: '*';
  color: #dd137b;
  line-height: 1;
  position: absolute;
  top: 50%;
  right: -18px;
  transform: translateY(-50%);
  margin-top: 2px;
}

.contact-us .online-registration .main-width .info ul li.square:after {
  content: '';
  display: block;
  z-index: 99;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: #666 transparent transparent transparent;
}

.contact-us .online-registration .main-width .info ul li input, .contact-us .online-registration .main-width .info ul li select {
  z-index: 90;
  position: relative;
  border: 1px solid #ddd;
  width: 100%;
  line-height: 1;
  background-color: #fff;
  padding: 15px 20px;
}

.contact-us .online-registration .main-width .info ul li input, .contact-us .online-registration .main-width .info ul li input::-webkit-input-placeholder, .contact-us .online-registration .main-width .info ul li input:-ms-input-placeholder, .contact-us .online-registration .main-width .info ul li input::-moz-placeholder, .contact-us .online-registration .main-width .info ul li select, .contact-us .online-registration .main-width .info ul li select::-webkit-input-placeholder, .contact-us .online-registration .main-width .info ul li select:-ms-input-placeholder, .contact-us .online-registration .main-width .info ul li select::-moz-placeholder {
  color: #666;
}

.contact-us .online-registration .main-width .info ul li input:focus, .contact-us .online-registration .main-width .info ul li select:focus {
  border: 1px solid #dd137b;
}

.contact-us .online-registration .main-width .score ul {
  display: flex;
  border: 1px solid #ddd;
}

.contact-us .online-registration .main-width .score ul li {
  flex-grow: 1;
  background-color: #fff;
  border-left: 1px solid #ddd;
}

.contact-us .online-registration .main-width .score ul li:nth-child(1) {
  border-left: none;
}

.contact-us .online-registration .main-width .score ul li p {
  padding: 20px 10px;
  border-bottom: 1px solid #ddd;
}

.contact-us .online-registration .main-width .score ul li input {
  padding: 20px 10px;
  width: 100%;
  text-align: center;
}

.contact-us .online-registration .main-width .score textarea {
  padding: 15px 18px;
  background-color: #fff;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 150px;
  border: 1px solid #ddd;
  line-height: 1.8;
}

/* 6·1-联系我们 end */
/*  start */
/*  end */
/*  start */
/*  end */
/*  start */
/*  end */
/*  start */
/*  end */
/*  start */
/*  end */
/*  start */
/*  end */
/*  start */
/*  end */
/*  start */
/*  end */
/*  start */
/*  end */
/*  start */
/*  end */
/*  start */
/*  end */
/*  start */
/*  end */
/*  start */
/*  end */
/*  start */
/*  end */
/*  start */
/*  end */
/*  start */
/*  end */
/*  start */
/*  end */
/*  start */
/*  end */
