@charset "UTF-8";
/*2018-6-15 !LI !start*/
@import url("http://at.alicdn.com/t/font_704012_sll3u0ezjr.css");
/*
 * scss变量设置
 */
/*  */
/*主色*/
/* 产品图片高:宽  652/440 首页的产品展示*/
/* 字体 */
/* 最大宽度 */
/*
 * scss函数设置
 */
/*  */
/*高度与行高设置*/
/*宽度与高度设置*/
/*字体设置*/
/*背景图片设置*/
html, body {
  height: 100%;
}

/**10rem到200rem的字体,用法:fz20 **/
.fz8 {
  font-size: 0.08rem !important;
}

.fz9 {
  font-size: 0.09rem !important;
}

.fz10 {
  font-size: 0.1rem !important;
}

.fz11 {
  font-size: 0.11rem !important;
}

.fz12 {
  font-size: 0.12rem !important;
}

.fz13 {
  font-size: 0.13rem !important;
}

.fz14 {
  font-size: 0.14rem !important;
}

.fz15 {
  font-size: 0.15rem !important;
}

.fz16 {
  font-size: 0.16rem !important;
}

.fz17 {
  font-size: 0.17rem !important;
}

.fz18 {
  font-size: 0.18rem !important;
}

.fz19 {
  font-size: 0.19rem !important;
}

.fz20 {
  font-size: 0.2rem !important;
}

.fz21 {
  font-size: 0.21rem !important;
}

.fz22 {
  font-size: 0.22rem !important;
}

.fz23 {
  font-size: 0.23rem !important;
}

.fz24 {
  font-size: 0.24rem !important;
}

.fz25 {
  font-size: 0.25rem !important;
}

.fz26 {
  font-size: 0.26rem !important;
}

.fz27 {
  font-size: 0.27rem !important;
}

.fz28 {
  font-size: 0.28rem !important;
}

.fz29 {
  font-size: 0.29rem !important;
}

.fz30 {
  font-size: 0.3rem !important;
}

.fz31 {
  font-size: 0.31rem !important;
}

.fz32 {
  font-size: 0.32rem !important;
}

.fz33 {
  font-size: 0.33rem !important;
}

.fz34 {
  font-size: 0.34rem !important;
}

.fz35 {
  font-size: 0.35rem !important;
}

.fz36 {
  font-size: 0.36rem !important;
}

.fz37 {
  font-size: 0.37rem !important;
}

.fz38 {
  font-size: 0.38rem !important;
}

.fz39 {
  font-size: 0.39rem !important;
}

.fz40 {
  font-size: 0.4rem !important;
}

.fz41 {
  font-size: 0.41rem !important;
}

.fz42 {
  font-size: 0.42rem !important;
}

.fz43 {
  font-size: 0.43rem !important;
}

.fz44 {
  font-size: 0.44rem !important;
}

.fz45 {
  font-size: 0.45rem !important;
}

.fz46 {
  font-size: 0.46rem !important;
}

.fz47 {
  font-size: 0.47rem !important;
}

.fz48 {
  font-size: 0.48rem !important;
}

.fz49 {
  font-size: 0.49rem !important;
}

.fz50 {
  font-size: 0.5rem !important;
}

.fz51 {
  font-size: 0.51rem !important;
}

.fz52 {
  font-size: 0.52rem !important;
}

.fz53 {
  font-size: 0.53rem !important;
}

.fz54 {
  font-size: 0.54rem !important;
}

.fz55 {
  font-size: 0.55rem !important;
}

.fz56 {
  font-size: 0.56rem !important;
}

.fz57 {
  font-size: 0.57rem !important;
}

.fz58 {
  font-size: 0.58rem !important;
}

.fz59 {
  font-size: 0.59rem !important;
}

.fz60 {
  font-size: 0.6rem !important;
}

.fz61 {
  font-size: 0.61rem !important;
}

.fz62 {
  font-size: 0.62rem !important;
}

.fz63 {
  font-size: 0.63rem !important;
}

.fz64 {
  font-size: 0.64rem !important;
}

.fz65 {
  font-size: 0.65rem !important;
}

.fz66 {
  font-size: 0.66rem !important;
}

.fz67 {
  font-size: 0.67rem !important;
}

.fz68 {
  font-size: 0.68rem !important;
}

.fz69 {
  font-size: 0.69rem !important;
}

.fz70 {
  font-size: 0.7rem !important;
}

.fz71 {
  font-size: 0.71rem !important;
}

.fz72 {
  font-size: 0.72rem !important;
}

.fz73 {
  font-size: 0.73rem !important;
}

.fz74 {
  font-size: 0.74rem !important;
}

.fz75 {
  font-size: 0.75rem !important;
}

.fz76 {
  font-size: 0.76rem !important;
}

.fz77 {
  font-size: 0.77rem !important;
}

.fz78 {
  font-size: 0.78rem !important;
}

.fz79 {
  font-size: 0.79rem !important;
}

.fz80 {
  font-size: 0.8rem !important;
}

.fz81 {
  font-size: 0.81rem !important;
}

.fz82 {
  font-size: 0.82rem !important;
}

.fz83 {
  font-size: 0.83rem !important;
}

.fz84 {
  font-size: 0.84rem !important;
}

.fz85 {
  font-size: 0.85rem !important;
}

.fz86 {
  font-size: 0.86rem !important;
}

.fz87 {
  font-size: 0.87rem !important;
}

.fz88 {
  font-size: 0.88rem !important;
}

.fz89 {
  font-size: 0.89rem !important;
}

.fz90 {
  font-size: 0.9rem !important;
}

.fz91 {
  font-size: 0.91rem !important;
}

.fz92 {
  font-size: 0.92rem !important;
}

.fz93 {
  font-size: 0.93rem !important;
}

.fz94 {
  font-size: 0.94rem !important;
}

.fz95 {
  font-size: 0.95rem !important;
}

.fz96 {
  font-size: 0.96rem !important;
}

.fz97 {
  font-size: 0.97rem !important;
}

.fz98 {
  font-size: 0.98rem !important;
}

.fz99 {
  font-size: 0.99rem !important;
}

.fz100 {
  font-size: 1rem !important;
}

.fz101 {
  font-size: 1.01rem !important;
}

.fz102 {
  font-size: 1.02rem !important;
}

.fz103 {
  font-size: 1.03rem !important;
}

.fz104 {
  font-size: 1.04rem !important;
}

.fz105 {
  font-size: 1.05rem !important;
}

.fz106 {
  font-size: 1.06rem !important;
}

.fz107 {
  font-size: 1.07rem !important;
}

.fz108 {
  font-size: 1.08rem !important;
}

.fz109 {
  font-size: 1.09rem !important;
}

.fz110 {
  font-size: 1.1rem !important;
}

.fz111 {
  font-size: 1.11rem !important;
}

.fz112 {
  font-size: 1.12rem !important;
}

.fz113 {
  font-size: 1.13rem !important;
}

.fz114 {
  font-size: 1.14rem !important;
}

.fz115 {
  font-size: 1.15rem !important;
}

.fz116 {
  font-size: 1.16rem !important;
}

.fz117 {
  font-size: 1.17rem !important;
}

.fz118 {
  font-size: 1.18rem !important;
}

.fz119 {
  font-size: 1.19rem !important;
}

.fz120 {
  font-size: 1.2rem !important;
}

.fz121 {
  font-size: 1.21rem !important;
}

.fz122 {
  font-size: 1.22rem !important;
}

.fz123 {
  font-size: 1.23rem !important;
}

.fz124 {
  font-size: 1.24rem !important;
}

.fz125 {
  font-size: 1.25rem !important;
}

.fz126 {
  font-size: 1.26rem !important;
}

.fz127 {
  font-size: 1.27rem !important;
}

.fz128 {
  font-size: 1.28rem !important;
}

.fz129 {
  font-size: 1.29rem !important;
}

.fz130 {
  font-size: 1.3rem !important;
}

.fz131 {
  font-size: 1.31rem !important;
}

.fz132 {
  font-size: 1.32rem !important;
}

.fz133 {
  font-size: 1.33rem !important;
}

.fz134 {
  font-size: 1.34rem !important;
}

.fz135 {
  font-size: 1.35rem !important;
}

.fz136 {
  font-size: 1.36rem !important;
}

.fz137 {
  font-size: 1.37rem !important;
}

.fz138 {
  font-size: 1.38rem !important;
}

.fz139 {
  font-size: 1.39rem !important;
}

.fz140 {
  font-size: 1.4rem !important;
}

.fz141 {
  font-size: 1.41rem !important;
}

.fz142 {
  font-size: 1.42rem !important;
}

.fz143 {
  font-size: 1.43rem !important;
}

.fz144 {
  font-size: 1.44rem !important;
}

.fz145 {
  font-size: 1.45rem !important;
}

.fz146 {
  font-size: 1.46rem !important;
}

.fz147 {
  font-size: 1.47rem !important;
}

.fz148 {
  font-size: 1.48rem !important;
}

.fz149 {
  font-size: 1.49rem !important;
}

.fz150 {
  font-size: 1.5rem !important;
}

.fz151 {
  font-size: 1.51rem !important;
}

.fz152 {
  font-size: 1.52rem !important;
}

.fz153 {
  font-size: 1.53rem !important;
}

.fz154 {
  font-size: 1.54rem !important;
}

.fz155 {
  font-size: 1.55rem !important;
}

.fz156 {
  font-size: 1.56rem !important;
}

.fz157 {
  font-size: 1.57rem !important;
}

.fz158 {
  font-size: 1.58rem !important;
}

.fz159 {
  font-size: 1.59rem !important;
}

.fz160 {
  font-size: 1.6rem !important;
}

.fz161 {
  font-size: 1.61rem !important;
}

.fz162 {
  font-size: 1.62rem !important;
}

.fz163 {
  font-size: 1.63rem !important;
}

.fz164 {
  font-size: 1.64rem !important;
}

.fz165 {
  font-size: 1.65rem !important;
}

.fz166 {
  font-size: 1.66rem !important;
}

.fz167 {
  font-size: 1.67rem !important;
}

.fz168 {
  font-size: 1.68rem !important;
}

.fz169 {
  font-size: 1.69rem !important;
}

.fz170 {
  font-size: 1.7rem !important;
}

.fz171 {
  font-size: 1.71rem !important;
}

.fz172 {
  font-size: 1.72rem !important;
}

.fz173 {
  font-size: 1.73rem !important;
}

.fz174 {
  font-size: 1.74rem !important;
}

.fz175 {
  font-size: 1.75rem !important;
}

.fz176 {
  font-size: 1.76rem !important;
}

.fz177 {
  font-size: 1.77rem !important;
}

.fz178 {
  font-size: 1.78rem !important;
}

.fz179 {
  font-size: 1.79rem !important;
}

.fz180 {
  font-size: 1.8rem !important;
}

.fz181 {
  font-size: 1.81rem !important;
}

.fz182 {
  font-size: 1.82rem !important;
}

.fz183 {
  font-size: 1.83rem !important;
}

.fz184 {
  font-size: 1.84rem !important;
}

.fz185 {
  font-size: 1.85rem !important;
}

.fz186 {
  font-size: 1.86rem !important;
}

.fz187 {
  font-size: 1.87rem !important;
}

.fz188 {
  font-size: 1.88rem !important;
}

.fz189 {
  font-size: 1.89rem !important;
}

.fz190 {
  font-size: 1.9rem !important;
}

.fz191 {
  font-size: 1.91rem !important;
}

.fz192 {
  font-size: 1.92rem !important;
}

.fz193 {
  font-size: 1.93rem !important;
}

.fz194 {
  font-size: 1.94rem !important;
}

.fz195 {
  font-size: 1.95rem !important;
}

.fz196 {
  font-size: 1.96rem !important;
}

.fz197 {
  font-size: 1.97rem !important;
}

.fz198 {
  font-size: 1.98rem !important;
}

.fz199 {
  font-size: 1.99rem !important;
}

.fz200 {
  font-size: 2rem !important;
}

.fz201 {
  font-size: 2.01rem !important;
}

.fz202 {
  font-size: 2.02rem !important;
}

.fz203 {
  font-size: 2.03rem !important;
}

.fz204 {
  font-size: 2.04rem !important;
}

.fz205 {
  font-size: 2.05rem !important;
}

.fz206 {
  font-size: 2.06rem !important;
}

.fz207 {
  font-size: 2.07rem !important;
}

.fz208 {
  font-size: 2.08rem !important;
}

.fz209 {
  font-size: 2.09rem !important;
}

.fz210 {
  font-size: 2.1rem !important;
}

.fz211 {
  font-size: 2.11rem !important;
}

.fz212 {
  font-size: 2.12rem !important;
}

.fz213 {
  font-size: 2.13rem !important;
}

.fz214 {
  font-size: 2.14rem !important;
}

.fz215 {
  font-size: 2.15rem !important;
}

.fz216 {
  font-size: 2.16rem !important;
}

.fz217 {
  font-size: 2.17rem !important;
}

.fz218 {
  font-size: 2.18rem !important;
}

.fz219 {
  font-size: 2.19rem !important;
}

.fz220 {
  font-size: 2.2rem !important;
}

.fz221 {
  font-size: 2.21rem !important;
}

.fz222 {
  font-size: 2.22rem !important;
}

.fz223 {
  font-size: 2.23rem !important;
}

.fz224 {
  font-size: 2.24rem !important;
}

.fz225 {
  font-size: 2.25rem !important;
}

.fz226 {
  font-size: 2.26rem !important;
}

.fz227 {
  font-size: 2.27rem !important;
}

.fz228 {
  font-size: 2.28rem !important;
}

.fz229 {
  font-size: 2.29rem !important;
}

.fz230 {
  font-size: 2.3rem !important;
}

.fz231 {
  font-size: 2.31rem !important;
}

.fz232 {
  font-size: 2.32rem !important;
}

.fz233 {
  font-size: 2.33rem !important;
}

.fz234 {
  font-size: 2.34rem !important;
}

.fz235 {
  font-size: 2.35rem !important;
}

.fz236 {
  font-size: 2.36rem !important;
}

.fz237 {
  font-size: 2.37rem !important;
}

.fz238 {
  font-size: 2.38rem !important;
}

.fz239 {
  font-size: 2.39rem !important;
}

.fz240 {
  font-size: 2.4rem !important;
}

.fz241 {
  font-size: 2.41rem !important;
}

.fz242 {
  font-size: 2.42rem !important;
}

.fz243 {
  font-size: 2.43rem !important;
}

.fz244 {
  font-size: 2.44rem !important;
}

.fz245 {
  font-size: 2.45rem !important;
}

.fz246 {
  font-size: 2.46rem !important;
}

.fz247 {
  font-size: 2.47rem !important;
}

.fz248 {
  font-size: 2.48rem !important;
}

.fz249 {
  font-size: 2.49rem !important;
}

.fz250 {
  font-size: 2.5rem !important;
}

.fz251 {
  font-size: 2.51rem !important;
}

.fz252 {
  font-size: 2.52rem !important;
}

.fz253 {
  font-size: 2.53rem !important;
}

.fz254 {
  font-size: 2.54rem !important;
}

.fz255 {
  font-size: 2.55rem !important;
}

.fz256 {
  font-size: 2.56rem !important;
}

.fz257 {
  font-size: 2.57rem !important;
}

.fz258 {
  font-size: 2.58rem !important;
}

.fz259 {
  font-size: 2.59rem !important;
}

.fz260 {
  font-size: 2.6rem !important;
}

.fz261 {
  font-size: 2.61rem !important;
}

.fz262 {
  font-size: 2.62rem !important;
}

.fz263 {
  font-size: 2.63rem !important;
}

.fz264 {
  font-size: 2.64rem !important;
}

.fz265 {
  font-size: 2.65rem !important;
}

.fz266 {
  font-size: 2.66rem !important;
}

.fz267 {
  font-size: 2.67rem !important;
}

.fz268 {
  font-size: 2.68rem !important;
}

.fz269 {
  font-size: 2.69rem !important;
}

.fz270 {
  font-size: 2.7rem !important;
}

.fz271 {
  font-size: 2.71rem !important;
}

.fz272 {
  font-size: 2.72rem !important;
}

.fz273 {
  font-size: 2.73rem !important;
}

.fz274 {
  font-size: 2.74rem !important;
}

.fz275 {
  font-size: 2.75rem !important;
}

.fz276 {
  font-size: 2.76rem !important;
}

.fz277 {
  font-size: 2.77rem !important;
}

.fz278 {
  font-size: 2.78rem !important;
}

.fz279 {
  font-size: 2.79rem !important;
}

.fz280 {
  font-size: 2.8rem !important;
}

.fz281 {
  font-size: 2.81rem !important;
}

.fz282 {
  font-size: 2.82rem !important;
}

.fz283 {
  font-size: 2.83rem !important;
}

.fz284 {
  font-size: 2.84rem !important;
}

.fz285 {
  font-size: 2.85rem !important;
}

.fz286 {
  font-size: 2.86rem !important;
}

.fz287 {
  font-size: 2.87rem !important;
}

.fz288 {
  font-size: 2.88rem !important;
}

.fz289 {
  font-size: 2.89rem !important;
}

.fz290 {
  font-size: 2.9rem !important;
}

.fz291 {
  font-size: 2.91rem !important;
}

.fz292 {
  font-size: 2.92rem !important;
}

.fz293 {
  font-size: 2.93rem !important;
}

.fz294 {
  font-size: 2.94rem !important;
}

.fz295 {
  font-size: 2.95rem !important;
}

.fz296 {
  font-size: 2.96rem !important;
}

.fz297 {
  font-size: 2.97rem !important;
}

.fz298 {
  font-size: 2.98rem !important;
}

.fz299 {
  font-size: 2.99rem !important;
}

.fz300 {
  font-size: 3rem !important;
}

select {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  outline: none;
}

.main-width {
  width: 100%;
  max-width: 10rem;
  margin: 0 auto;
}

.main-padding-lr {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.main-color {
  color: #1e78c8 !important;
}

.main-bg {
  background-color: #1e78c8 !important;
}

.margin-btm {
  margin-bottom: 0.2rem;
}

.margin-top {
  margin-top: 0.2rem;
}

.fc-666 {
  color: #666;
}

.fc-ccc {
  color: #ccc;
}

.fc-999 {
  color: #ccc;
}

.fc-fff {
  color: #fff;
}

.fc-bbb {
  color: #bbb;
}

.bg-f8 {
  background-color: #f8f8f8 !important;
}

.bg-fff {
  background-color: #fff !important;
}

.bg-gradient {
  background-color: #1e78c8;
  background: -webkit-linear-gradient(left, #0068b6, #009fc0);
  background: -o-linear-gradient(right, #0068b6, #009fc0);
  background: -moz-linear-gradient(right, #0068b6, #009fc0);
  background: linear-gradient(to right, #0068b6, #009fc0);
}

.border {
  border: 0.01rem solid #eee;
}

.border-top {
  border-top: 0.01rem solid #eee;
}

.border-btm {
  border-bottom: 0.01rem solid #eee;
}

.no-select, .btn {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.btn {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.no-weight {
  font-weight: normal;
}

.ellipsis1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ellipsis3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.ellipsis4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*查看大图 start*/
.wrap-look-picture {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  z-index: 99999;
}

.wrap-look-picture.active {
  opacity: 1;
  visibility: visible;
}

.wrap-look-picture.active .box .icon {
  opacity: 1;
}

.wrap-look-picture.active .box .img-box {
  transform: scale(1);
}

.wrap-look-picture .box {
  background-color: transparent;
  height: 80%;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.wrap-look-picture .box .icon {
  text-align: right;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s;
  position: absolute;
  top: -1rem;
  right: 0;
}

.wrap-look-picture .box .img-box {
  position: relative;
  height: 100%;
  display: block;
  transform: scale(0.5);
  transition: all 0.3s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/*查看大图 end*/
/*3·1-我的工单.html start*/
.MWLC-nav {
  height: 1rem;
}

.MWLC-nav .box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

.MWLC-nav .box ul {
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.MWLC-nav .box ul .MWLC-list {
  height: 1rem;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.MWLC-nav .box ul .MWLC-list.active * {
  color: #1e78c8;
  border-bottom: 0.02rem solid #1e78c8;
}

.MWLC-nav .box ul .MWLC-list > * {
  line-height: 1rem;
  display: flex;
  align-content: center;
  justify-content: center;
}

.MWLC-info > ul > .MWLC-info-list .head {
  display: flex;
  align-items: center;
  height: 0.84rem;
  position: relative;
}

.MWLC-info > ul > .MWLC-info-list .head .state {
  position: absolute;
  right: 0;
}

.MWLC-info > ul > .MWLC-info-list .desc {
  display: block;
}

.MWLC-info > ul > .MWLC-info-list .desc .d-box {
  height: 1.64rem;
  display: flex;
  align-items: center;
  padding-left: 1.2rem;
  padding-right: 2.5rem;
  position: relative;
}

.MWLC-info > ul > .MWLC-info-list .desc .d-box .img-box {
  width: 1rem;
  height: 1rem;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 0;
}

.MWLC-info > ul > .MWLC-info-list .desc .d-box ul {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.MWLC-info > ul > .MWLC-info-list .desc .d-box ul li {
  display: flex;
}

.MWLC-info > ul > .MWLC-info-list .desc .d-box ul li .left {
  white-space: nowrap;
}

.MWLC-info > ul > .MWLC-info-list .desc .d-box ul li .right {
  width: 100%;
}

.MWLC-info > ul > .MWLC-info-list .desc .d-box ul li * {
  display: block;
}

.MWLC-info > ul > .MWLC-info-list .desc .d-box .time {
  position: absolute;
  right: 0;
}

.MWLC-info > ul > .MWLC-info-list .desc .d-box .time .icon {
  margin-left: 0.1rem;
}

.MWLC-info > ul > .MWLC-info-list .foot {
  height: 0.8rem;
}

/*3·1-我的工单.html end*/
/*3·2-我的工单-待受理详情 start*/
.wrap-mask-accept {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  z-index: 99999;
}

.wrap-mask-accept.active {
  opacity: 1;
  visibility: visible;
}

.wrap-mask-accept.active .box {
  transform: translateY(0%);
}

.wrap-mask-accept .box {
  width: 5rem;
  transform: translateY(-20%);
  transition: all 0.3s;
}

.wrap-mask-accept .box .head {
  height: 2rem;
  position: relative;
}

.wrap-mask-accept .box .head .icon {
  position: absolute;
  top: 0.1rem;
  right: 0.2rem;
  cursor: pointer;
}

.wrap-mask-accept .box .foot {
  display: flex;
}

.wrap-mask-accept .box .foot .btn {
  height: 0.84rem;
  width: 50%;
}

.wrap-mask-accept .box .foot .btn-sure {
  background-color: #1e78c8;
  border-right: 0.01rem solid #fff;
}

.wrap-mask-accept .box .foot .btn-cancel {
  background-color: #aaa;
}

/*3·2-我的工单-待受理详情 end*/
/*3·4-我的工单-处理中详情 start*/
/*3·4-我的工单-处理中详情 end*/
/*3·4-我的工单-处理中详情-等待配件 start*/
.part-one-head {
  height: 0.9rem;
}

.part-one-info {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.part-one-info > ul > .part-one-list {
  padding: 0.1rem 0rem;
  display: flex;
}

.part-one-info > ul > .part-one-list .fc-999 {
  white-space: nowrap;
}

.zhan-wei {
  display: inline-block;
  width: 0.3rem;
  height: 0.2rem;
}

.part-one-info > ul > .part-one-list .wrap-img {
  width: 100%;
  margin-right: -0.2rem;
  margin-bottom: -0.2rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.part-one-info > ul > .part-one-list .img-box {
  display: block;
  padding-top: calc(33.333% - 0.2rem);
  width: calc(33.333% - 0.2rem);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
  cursor: pointer;
}

.part-order > ul {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.part-order > ul > .paor-list {
  padding: 0.1rem 0rem;
}

.company-service {
  padding-top: 0.68rem;
  padding-bottom: 0.3rem;
}

.company-service .tel {
  margin-bottom: 0.2rem;
}

.wrap-foot-btn {
  height: 1rem;
}

.wrap-foot-btn .foot-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 6666;
}

.wrap-foot-btn .foot-btn .box {
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap-foot-btn .foot-btn .box .btn {
  height: 1rem;
  width: 100%;
}

.wrap-foot-btn .foot-btn .box .btn:nth-child(n+2) {
  border-left: 0.02rem solid #fff;
}

/*3·4-我的工单-处理中详情-等待配件 end*/
/*3·5-我的工单-处理中详情-完工申请 start*/
.complete-apply-head {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.complete-apply-head textarea {
  border: none;
  outline: none;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  line-height: 1.6;
  height: 2.3rem;
  min-height: 2.3rem;
  display: block;
}

.complete-apply-upload {
  padding-bottom: 0.25rem;
}

.complete-apply-upload .head {
  line-height: 0.96rem;
}

.complete-apply-upload .head:before {
  content: '*';
  display: inline-block;
  color: #ec5333;
  font-size: 0.36rem;
  margin-right: 0.1rem;
}

.CA-upload > ul {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.2rem;
}

.CA-upload > ul .list-img-box {
  padding-top: calc(25% - 0.2rem);
  width: calc(25% - 0.2rem);
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.CA-upload > ul .list-img-box .icon {
  position: absolute;
  top: 0.06rem;
  right: 0.06rem;
  background-color: #000;
  border-radius: 100%;
  cursor: pointer;
  width: 0.3rem;
  height: 0.3rem;
}

.CA-upload > ul .btn {
  padding-top: calc(25% - 0.2rem);
  width: calc(25% - 0.2rem);
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
  position: relative;
  overflow: hidden;
}

.CA-upload > ul .btn .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.CA-upload > ul .btn input[type=file] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}

.complete-apply-contact ul li {
  position: relative;
  line-height: 1rem;
  padding-left: 1.5rem;
}

.complete-apply-contact ul li:nth-last-child {
  border-bottom: none;
}

.complete-apply-contact ul li .left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

/*3·5-我的工单-处理中详情-完工申请 end*/
/*3·6-我的工单-待确认详情 start*/
/*3·6-我的工单-待确认详情 end*/
/*3·7-我的工单-已完成详情 start*/
.complete-work-list .title {
  line-height: 0.9rem;
}

.complete-work-list .person {
  height: 1.6rem;
  display: flex;
  align-items: center;
  position: relative;
}

.complete-work-list .person .pic {
  width: 1rem;
  height: 1rem;
  display: block;
  margin-right: 0.2rem;
  border-radius: 100%;
  overflow: hidden;
}

.complete-work-list .person .contact {
  position: absolute;
  right: 0;
}

/*3·7-我的工单-已完成详情 end*/
/* start*/
/* end*/
/* start*/
/* end*/
/* start*/
/* end*/
/* start*/
/* end*/
/* start*/
/* end*/
/*2018-6-15 !LI !end*/
