@charset "UTF-8";
/*调用css样式*/
@import url("swiper.min.css");
/*调用scss样式、函数、变量*/
/*
* @Author: cs5
* @Date:   2018-04-12 13:30:23
* @Last Modified by:   cs5
* @Last Modified time: 2018-04-12 16:30:11
*/
/*
 * scss变量设置
 */
/*  */
/*主色*/
/* 字体 */
/* 最大宽度 */
/*
* @Author: cs5
* @Date:   2018-04-12 13:30:23
* @Last Modified by:   cs5
* @Last Modified time: 2018-04-12 16:30:11
*/
/*
 * scss函数设置
 */
/*  */
/**10rem到200rem的字体,用法:fz20 **/
.fz20 {
  font-size: 0.2rem;
}

.fz21 {
  font-size: 0.21rem;
}

.fz22 {
  font-size: 0.22rem;
}

.fz23 {
  font-size: 0.23rem;
}

.fz24 {
  font-size: 0.24rem;
}

.fz25 {
  font-size: 0.25rem;
}

.fz26 {
  font-size: 0.26rem;
}

.fz27 {
  font-size: 0.27rem;
}

.fz28 {
  font-size: 0.28rem;
}

.fz29 {
  font-size: 0.29rem;
}

.fz30 {
  font-size: 0.3rem;
}

.fz31 {
  font-size: 0.31rem;
}

.fz32 {
  font-size: 0.32rem;
}

.fz33 {
  font-size: 0.33rem;
}

.fz34 {
  font-size: 0.34rem;
}

.fz35 {
  font-size: 0.35rem;
}

.fz36 {
  font-size: 0.36rem;
}

.fz37 {
  font-size: 0.37rem;
}

.fz38 {
  font-size: 0.38rem;
}

.fz39 {
  font-size: 0.39rem;
}

.fz40 {
  font-size: 0.4rem;
}

.fz41 {
  font-size: 0.41rem;
}

.fz42 {
  font-size: 0.42rem;
}

.fz43 {
  font-size: 0.43rem;
}

.fz44 {
  font-size: 0.44rem;
}

.fz45 {
  font-size: 0.45rem;
}

.fz46 {
  font-size: 0.46rem;
}

.fz47 {
  font-size: 0.47rem;
}

.fz48 {
  font-size: 0.48rem;
}

.fz49 {
  font-size: 0.49rem;
}

.fz50 {
  font-size: 0.5rem;
}

.fz51 {
  font-size: 0.51rem;
}

.fz52 {
  font-size: 0.52rem;
}

.fz53 {
  font-size: 0.53rem;
}

.fz54 {
  font-size: 0.54rem;
}

.fz55 {
  font-size: 0.55rem;
}

.fz56 {
  font-size: 0.56rem;
}

.fz57 {
  font-size: 0.57rem;
}

.fz58 {
  font-size: 0.58rem;
}

.fz59 {
  font-size: 0.59rem;
}

.fz60 {
  font-size: 0.6rem;
}

.fz61 {
  font-size: 0.61rem;
}

.fz62 {
  font-size: 0.62rem;
}

.fz63 {
  font-size: 0.63rem;
}

.fz64 {
  font-size: 0.64rem;
}

.fz65 {
  font-size: 0.65rem;
}

.fz66 {
  font-size: 0.66rem;
}

.fz67 {
  font-size: 0.67rem;
}

.fz68 {
  font-size: 0.68rem;
}

.fz69 {
  font-size: 0.69rem;
}

.fz70 {
  font-size: 0.7rem;
}

.fz71 {
  font-size: 0.71rem;
}

.fz72 {
  font-size: 0.72rem;
}

.fz73 {
  font-size: 0.73rem;
}

.fz74 {
  font-size: 0.74rem;
}

.fz75 {
  font-size: 0.75rem;
}

.fz76 {
  font-size: 0.76rem;
}

.fz77 {
  font-size: 0.77rem;
}

.fz78 {
  font-size: 0.78rem;
}

.fz79 {
  font-size: 0.79rem;
}

.fz80 {
  font-size: 0.8rem;
}

.fz81 {
  font-size: 0.81rem;
}

.fz82 {
  font-size: 0.82rem;
}

.fz83 {
  font-size: 0.83rem;
}

.fz84 {
  font-size: 0.84rem;
}

.fz85 {
  font-size: 0.85rem;
}

.fz86 {
  font-size: 0.86rem;
}

.fz87 {
  font-size: 0.87rem;
}

.fz88 {
  font-size: 0.88rem;
}

.fz89 {
  font-size: 0.89rem;
}

.fz90 {
  font-size: 0.9rem;
}

.fz91 {
  font-size: 0.91rem;
}

.fz92 {
  font-size: 0.92rem;
}

.fz93 {
  font-size: 0.93rem;
}

.fz94 {
  font-size: 0.94rem;
}

.fz95 {
  font-size: 0.95rem;
}

.fz96 {
  font-size: 0.96rem;
}

.fz97 {
  font-size: 0.97rem;
}

.fz98 {
  font-size: 0.98rem;
}

.fz99 {
  font-size: 0.99rem;
}

.fz100 {
  font-size: 1rem;
}

.fz101 {
  font-size: 1.01rem;
}

.fz102 {
  font-size: 1.02rem;
}

.fz103 {
  font-size: 1.03rem;
}

.fz104 {
  font-size: 1.04rem;
}

.fz105 {
  font-size: 1.05rem;
}

.fz106 {
  font-size: 1.06rem;
}

.fz107 {
  font-size: 1.07rem;
}

.fz108 {
  font-size: 1.08rem;
}

.fz109 {
  font-size: 1.09rem;
}

.fz110 {
  font-size: 1.1rem;
}

.fz111 {
  font-size: 1.11rem;
}

.fz112 {
  font-size: 1.12rem;
}

.fz113 {
  font-size: 1.13rem;
}

.fz114 {
  font-size: 1.14rem;
}

.fz115 {
  font-size: 1.15rem;
}

.fz116 {
  font-size: 1.16rem;
}

.fz117 {
  font-size: 1.17rem;
}

.fz118 {
  font-size: 1.18rem;
}

.fz119 {
  font-size: 1.19rem;
}

.fz120 {
  font-size: 1.2rem;
}

.fz121 {
  font-size: 1.21rem;
}

.fz122 {
  font-size: 1.22rem;
}

.fz123 {
  font-size: 1.23rem;
}

.fz124 {
  font-size: 1.24rem;
}

.fz125 {
  font-size: 1.25rem;
}

.fz126 {
  font-size: 1.26rem;
}

.fz127 {
  font-size: 1.27rem;
}

.fz128 {
  font-size: 1.28rem;
}

.fz129 {
  font-size: 1.29rem;
}

.fz130 {
  font-size: 1.3rem;
}

.fz131 {
  font-size: 1.31rem;
}

.fz132 {
  font-size: 1.32rem;
}

.fz133 {
  font-size: 1.33rem;
}

.fz134 {
  font-size: 1.34rem;
}

.fz135 {
  font-size: 1.35rem;
}

.fz136 {
  font-size: 1.36rem;
}

.fz137 {
  font-size: 1.37rem;
}

.fz138 {
  font-size: 1.38rem;
}

.fz139 {
  font-size: 1.39rem;
}

.fz140 {
  font-size: 1.4rem;
}

.fz141 {
  font-size: 1.41rem;
}

.fz142 {
  font-size: 1.42rem;
}

.fz143 {
  font-size: 1.43rem;
}

.fz144 {
  font-size: 1.44rem;
}

.fz145 {
  font-size: 1.45rem;
}

.fz146 {
  font-size: 1.46rem;
}

.fz147 {
  font-size: 1.47rem;
}

.fz148 {
  font-size: 1.48rem;
}

.fz149 {
  font-size: 1.49rem;
}

.fz150 {
  font-size: 1.5rem;
}

.fz151 {
  font-size: 1.51rem;
}

.fz152 {
  font-size: 1.52rem;
}

.fz153 {
  font-size: 1.53rem;
}

.fz154 {
  font-size: 1.54rem;
}

.fz155 {
  font-size: 1.55rem;
}

.fz156 {
  font-size: 1.56rem;
}

.fz157 {
  font-size: 1.57rem;
}

.fz158 {
  font-size: 1.58rem;
}

.fz159 {
  font-size: 1.59rem;
}

.fz160 {
  font-size: 1.6rem;
}

.fz161 {
  font-size: 1.61rem;
}

.fz162 {
  font-size: 1.62rem;
}

.fz163 {
  font-size: 1.63rem;
}

.fz164 {
  font-size: 1.64rem;
}

.fz165 {
  font-size: 1.65rem;
}

.fz166 {
  font-size: 1.66rem;
}

.fz167 {
  font-size: 1.67rem;
}

.fz168 {
  font-size: 1.68rem;
}

.fz169 {
  font-size: 1.69rem;
}

.fz170 {
  font-size: 1.7rem;
}

.fz171 {
  font-size: 1.71rem;
}

.fz172 {
  font-size: 1.72rem;
}

.fz173 {
  font-size: 1.73rem;
}

.fz174 {
  font-size: 1.74rem;
}

.fz175 {
  font-size: 1.75rem;
}

.fz176 {
  font-size: 1.76rem;
}

.fz177 {
  font-size: 1.77rem;
}

.fz178 {
  font-size: 1.78rem;
}

.fz179 {
  font-size: 1.79rem;
}

.fz180 {
  font-size: 1.8rem;
}

.fz181 {
  font-size: 1.81rem;
}

.fz182 {
  font-size: 1.82rem;
}

.fz183 {
  font-size: 1.83rem;
}

.fz184 {
  font-size: 1.84rem;
}

.fz185 {
  font-size: 1.85rem;
}

.fz186 {
  font-size: 1.86rem;
}

.fz187 {
  font-size: 1.87rem;
}

.fz188 {
  font-size: 1.88rem;
}

.fz189 {
  font-size: 1.89rem;
}

.fz190 {
  font-size: 1.9rem;
}

.fz191 {
  font-size: 1.91rem;
}

.fz192 {
  font-size: 1.92rem;
}

.fz193 {
  font-size: 1.93rem;
}

.fz194 {
  font-size: 1.94rem;
}

.fz195 {
  font-size: 1.95rem;
}

.fz196 {
  font-size: 1.96rem;
}

.fz197 {
  font-size: 1.97rem;
}

.fz198 {
  font-size: 1.98rem;
}

.fz199 {
  font-size: 1.99rem;
}

.fz200 {
  font-size: 2rem;
}

/*高度与行高设置*/
/*宽度与高度设置*/
/*背景图片设置*/
html, body {
  height: 100%;
}

select {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  outline: none;
}

img {
  vertical-align: middle;
}

.main-width {
  width: 100%;
  max-width: 10rem;
  margin: 0 auto;
}

.padding-lr {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.main-color {
  color: #005aa8 !important;
}

.sub-color {
  color: #0074b1 !important;
}

.main-bg {
  background-color: #005aa8 !important;
}

.fc-666 {
  color: #666;
}

.fc-ccc {
  color: #ccc;
}

.fc-999 {
  color: #ccc;
}

.fc-fff {
  color: #fff;
}

.fc-db {
  color: #dbdbdb;
}

.fc-f9c513 {
  color: #f9c513;
}

.bg-f5 {
  background-color: #f5f5f5 !important;
}

.bg-bf {
  background-color: #bfbfbf !important;
}

.border-top {
  border-top: 0.01rem solid #ddd;
}

.border-btm {
  border-bottom: 0.01rem solid #ddd;
}

.btn {
  cursor: pointer;
}

.no-select, .btn {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.text-center {
  text-align: center;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.no-weight {
  font-weight: normal;
}

.ellipsis1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ellipsis3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.ellipsis4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
