@charset "UTF-8";
/*
* @Author: cs5
* @Date:   2018-04-12 13:30:23
* @Last Modified by:   cs5
* @Last Modified time: 2018-04-12 16:30:11
*/
/*
 * scss变量设置
 */
/*  */
/*主色*/
/* 字体 */
/* 最大宽度 */
/*
* @Author: cs5
* @Date:   2018-04-12 13:30:23
* @Last Modified by:   cs5
* @Last Modified time: 2018-04-12 16:30:11
*/
/*
 * scss函数设置
 */
/*  */
/**10rem到200rem的字体,用法:fz20 **/
.fz20 {
  font-size: 0.2rem;
}

.fz21 {
  font-size: 0.21rem;
}

.fz22 {
  font-size: 0.22rem;
}

.fz23 {
  font-size: 0.23rem;
}

.fz24 {
  font-size: 0.24rem;
}

.fz25 {
  font-size: 0.25rem;
}

.fz26 {
  font-size: 0.26rem;
}

.fz27 {
  font-size: 0.27rem;
}

.fz28 {
  font-size: 0.28rem;
}

.fz29 {
  font-size: 0.29rem;
}

.fz30 {
  font-size: 0.3rem;
}

.fz31 {
  font-size: 0.31rem;
}

.fz32 {
  font-size: 0.32rem;
}

.fz33 {
  font-size: 0.33rem;
}

.fz34 {
  font-size: 0.34rem;
}

.fz35 {
  font-size: 0.35rem;
}

.fz36 {
  font-size: 0.36rem;
}

.fz37 {
  font-size: 0.37rem;
}

.fz38 {
  font-size: 0.38rem;
}

.fz39 {
  font-size: 0.39rem;
}

.fz40 {
  font-size: 0.4rem;
}

.fz41 {
  font-size: 0.41rem;
}

.fz42 {
  font-size: 0.42rem;
}

.fz43 {
  font-size: 0.43rem;
}

.fz44 {
  font-size: 0.44rem;
}

.fz45 {
  font-size: 0.45rem;
}

.fz46 {
  font-size: 0.46rem;
}

.fz47 {
  font-size: 0.47rem;
}

.fz48 {
  font-size: 0.48rem;
}

.fz49 {
  font-size: 0.49rem;
}

.fz50 {
  font-size: 0.5rem;
}

.fz51 {
  font-size: 0.51rem;
}

.fz52 {
  font-size: 0.52rem;
}

.fz53 {
  font-size: 0.53rem;
}

.fz54 {
  font-size: 0.54rem;
}

.fz55 {
  font-size: 0.55rem;
}

.fz56 {
  font-size: 0.56rem;
}

.fz57 {
  font-size: 0.57rem;
}

.fz58 {
  font-size: 0.58rem;
}

.fz59 {
  font-size: 0.59rem;
}

.fz60 {
  font-size: 0.6rem;
}

.fz61 {
  font-size: 0.61rem;
}

.fz62 {
  font-size: 0.62rem;
}

.fz63 {
  font-size: 0.63rem;
}

.fz64 {
  font-size: 0.64rem;
}

.fz65 {
  font-size: 0.65rem;
}

.fz66 {
  font-size: 0.66rem;
}

.fz67 {
  font-size: 0.67rem;
}

.fz68 {
  font-size: 0.68rem;
}

.fz69 {
  font-size: 0.69rem;
}

.fz70 {
  font-size: 0.7rem;
}

.fz71 {
  font-size: 0.71rem;
}

.fz72 {
  font-size: 0.72rem;
}

.fz73 {
  font-size: 0.73rem;
}

.fz74 {
  font-size: 0.74rem;
}

.fz75 {
  font-size: 0.75rem;
}

.fz76 {
  font-size: 0.76rem;
}

.fz77 {
  font-size: 0.77rem;
}

.fz78 {
  font-size: 0.78rem;
}

.fz79 {
  font-size: 0.79rem;
}

.fz80 {
  font-size: 0.8rem;
}

.fz81 {
  font-size: 0.81rem;
}

.fz82 {
  font-size: 0.82rem;
}

.fz83 {
  font-size: 0.83rem;
}

.fz84 {
  font-size: 0.84rem;
}

.fz85 {
  font-size: 0.85rem;
}

.fz86 {
  font-size: 0.86rem;
}

.fz87 {
  font-size: 0.87rem;
}

.fz88 {
  font-size: 0.88rem;
}

.fz89 {
  font-size: 0.89rem;
}

.fz90 {
  font-size: 0.9rem;
}

.fz91 {
  font-size: 0.91rem;
}

.fz92 {
  font-size: 0.92rem;
}

.fz93 {
  font-size: 0.93rem;
}

.fz94 {
  font-size: 0.94rem;
}

.fz95 {
  font-size: 0.95rem;
}

.fz96 {
  font-size: 0.96rem;
}

.fz97 {
  font-size: 0.97rem;
}

.fz98 {
  font-size: 0.98rem;
}

.fz99 {
  font-size: 0.99rem;
}

.fz100 {
  font-size: 1rem;
}

.fz101 {
  font-size: 1.01rem;
}

.fz102 {
  font-size: 1.02rem;
}

.fz103 {
  font-size: 1.03rem;
}

.fz104 {
  font-size: 1.04rem;
}

.fz105 {
  font-size: 1.05rem;
}

.fz106 {
  font-size: 1.06rem;
}

.fz107 {
  font-size: 1.07rem;
}

.fz108 {
  font-size: 1.08rem;
}

.fz109 {
  font-size: 1.09rem;
}

.fz110 {
  font-size: 1.1rem;
}

.fz111 {
  font-size: 1.11rem;
}

.fz112 {
  font-size: 1.12rem;
}

.fz113 {
  font-size: 1.13rem;
}

.fz114 {
  font-size: 1.14rem;
}

.fz115 {
  font-size: 1.15rem;
}

.fz116 {
  font-size: 1.16rem;
}

.fz117 {
  font-size: 1.17rem;
}

.fz118 {
  font-size: 1.18rem;
}

.fz119 {
  font-size: 1.19rem;
}

.fz120 {
  font-size: 1.2rem;
}

.fz121 {
  font-size: 1.21rem;
}

.fz122 {
  font-size: 1.22rem;
}

.fz123 {
  font-size: 1.23rem;
}

.fz124 {
  font-size: 1.24rem;
}

.fz125 {
  font-size: 1.25rem;
}

.fz126 {
  font-size: 1.26rem;
}

.fz127 {
  font-size: 1.27rem;
}

.fz128 {
  font-size: 1.28rem;
}

.fz129 {
  font-size: 1.29rem;
}

.fz130 {
  font-size: 1.3rem;
}

.fz131 {
  font-size: 1.31rem;
}

.fz132 {
  font-size: 1.32rem;
}

.fz133 {
  font-size: 1.33rem;
}

.fz134 {
  font-size: 1.34rem;
}

.fz135 {
  font-size: 1.35rem;
}

.fz136 {
  font-size: 1.36rem;
}

.fz137 {
  font-size: 1.37rem;
}

.fz138 {
  font-size: 1.38rem;
}

.fz139 {
  font-size: 1.39rem;
}

.fz140 {
  font-size: 1.4rem;
}

.fz141 {
  font-size: 1.41rem;
}

.fz142 {
  font-size: 1.42rem;
}

.fz143 {
  font-size: 1.43rem;
}

.fz144 {
  font-size: 1.44rem;
}

.fz145 {
  font-size: 1.45rem;
}

.fz146 {
  font-size: 1.46rem;
}

.fz147 {
  font-size: 1.47rem;
}

.fz148 {
  font-size: 1.48rem;
}

.fz149 {
  font-size: 1.49rem;
}

.fz150 {
  font-size: 1.5rem;
}

.fz151 {
  font-size: 1.51rem;
}

.fz152 {
  font-size: 1.52rem;
}

.fz153 {
  font-size: 1.53rem;
}

.fz154 {
  font-size: 1.54rem;
}

.fz155 {
  font-size: 1.55rem;
}

.fz156 {
  font-size: 1.56rem;
}

.fz157 {
  font-size: 1.57rem;
}

.fz158 {
  font-size: 1.58rem;
}

.fz159 {
  font-size: 1.59rem;
}

.fz160 {
  font-size: 1.6rem;
}

.fz161 {
  font-size: 1.61rem;
}

.fz162 {
  font-size: 1.62rem;
}

.fz163 {
  font-size: 1.63rem;
}

.fz164 {
  font-size: 1.64rem;
}

.fz165 {
  font-size: 1.65rem;
}

.fz166 {
  font-size: 1.66rem;
}

.fz167 {
  font-size: 1.67rem;
}

.fz168 {
  font-size: 1.68rem;
}

.fz169 {
  font-size: 1.69rem;
}

.fz170 {
  font-size: 1.7rem;
}

.fz171 {
  font-size: 1.71rem;
}

.fz172 {
  font-size: 1.72rem;
}

.fz173 {
  font-size: 1.73rem;
}

.fz174 {
  font-size: 1.74rem;
}

.fz175 {
  font-size: 1.75rem;
}

.fz176 {
  font-size: 1.76rem;
}

.fz177 {
  font-size: 1.77rem;
}

.fz178 {
  font-size: 1.78rem;
}

.fz179 {
  font-size: 1.79rem;
}

.fz180 {
  font-size: 1.8rem;
}

.fz181 {
  font-size: 1.81rem;
}

.fz182 {
  font-size: 1.82rem;
}

.fz183 {
  font-size: 1.83rem;
}

.fz184 {
  font-size: 1.84rem;
}

.fz185 {
  font-size: 1.85rem;
}

.fz186 {
  font-size: 1.86rem;
}

.fz187 {
  font-size: 1.87rem;
}

.fz188 {
  font-size: 1.88rem;
}

.fz189 {
  font-size: 1.89rem;
}

.fz190 {
  font-size: 1.9rem;
}

.fz191 {
  font-size: 1.91rem;
}

.fz192 {
  font-size: 1.92rem;
}

.fz193 {
  font-size: 1.93rem;
}

.fz194 {
  font-size: 1.94rem;
}

.fz195 {
  font-size: 1.95rem;
}

.fz196 {
  font-size: 1.96rem;
}

.fz197 {
  font-size: 1.97rem;
}

.fz198 {
  font-size: 1.98rem;
}

.fz199 {
  font-size: 1.99rem;
}

.fz200 {
  font-size: 2rem;
}

/*高度与行高设置*/
/*宽度与高度设置*/
/*背景图片设置*/
/*注意： @import url('common.css');这种是写是属于css的，在scss中编译过程将找不到文件*/
/** footer底部导航 start**/
.footer {
  height: 0px;
}

.footer .box {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999999;
  height: 1rem;
  border-top: 0.01rem solid #777;
}

.footer .box ul {
  height: 100%;
  display: flex;
}

.footer .box ul li {
  width: 20%;
  height: 100%;
}

.footer .box ul li.active a .img1 {
  display: block;
}

.footer .box ul li.active a .img2 {
  display: none;
}

.footer .box ul li.active a p {
  color: #fff;
}

.footer .box ul li a {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer .box ul li a img {
  width: 0.5rem;
  height: 0.5rem;
}

.footer .box ul li a .img1 {
  display: none;
}

.footer .box ul li a .img2 {
  display: block;
}

.footer .box ul li a p {
  color: #fff;
}

/** footer底部导航 end**/
/** start**/
/** end**/
/** start**/
/** end**/
/** start**/
/** end**/
/** start**/
.extension-six {
  min-height: 100%;
  background-image: url(../img/home-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.extension-six .head-img {
  text-align: center;
  padding: 1.5rem 0rem 1rem;
}

.extension-six .head-img img {
  width: 5.7rem;
}

.extension-six .city .box .head {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.extension-six .city .box .head span {
  position: relative;
  text-shadow: 0rem 0rem 0.5rem #f9c509;
  color: #f9c513;
}

.extension-six .city .box .head span:before {
  content: '';
  display: block;
  position: absolute;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  background: radial-gradient(rgba(255, 232, 152, 0.2) 10%, rgba(255, 232, 152, 0.1) 30%, rgba(255, 232, 152, 0) 60%);
  background: radial-gradient(rgba(255, 232, 152, 0.2) 10%, rgba(255, 232, 152, 0.1) 30%, rgba(255, 232, 152, 0) 60%);
}

.extension-six .city .box ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: -0.1rem;
}

.extension-six .city .box ul li {
  border: 0.03rem solid #c6f170;
  border-radius: 0.4rem;
  margin: 0.1rem;
  box-shadow: 0rem 0rem 0.15rem rgba(198, 241, 112, 0.6);
}

.extension-six .city .box ul li a {
  padding: 0.2rem 0.4rem;
  display: block;
}

.extension-six .foot-logo {
  padding: 1.8rem 0rem 0.6rem;
}

.extension-six .foot-logo img {
  width: 0.7rem;
}

/** end**/
/**7-首页 start**/
.home {
  min-height: 100%;
}

.home .home-head-bg {
  background-image: url(../img/home-bg.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.home .head-img {
  text-align: center;
  padding: 0.5rem 0rem 0.7rem;
}

.home .head-img img {
  width: 5.7rem;
}

.home .statistics {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.home .statistics .box {
  display: flex;
  border: 0.01rem solid #c6f372;
  border-radius: 0.12rem;
  box-shadow: 0rem 0rem 0.1rem #c6f372 ,inset 0rem 0rem 0.1rem #c6f372;
}

.home .statistics .box .list {
  position: relative;
  width: 50%;
  height: 1.35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home .statistics .box .list:nth-child(1):before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border-right: 0.01rem solid #fff;
  height: 0.75rem;
}

.home .activity {
  margin-top: 1.2rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.home .activity .box {
  /*background-image: url(../img/activity-border.png);
            background-size: 100% 3.51rem;
            background-repeat: no-repeat;
            background-position: center;*/
  min-height: 3.51rem;
  padding: 0.5rem;
  position: relative;
}

.home .activity .box:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0.3rem;
  background-image: url(../img/activity-border-top.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.home .activity .box:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.3rem;
  background-image: url(../img/activity-border-bottom.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.home .activity .box .title {
  position: absolute;
  left: 50%;
  top: -0.15rem;
  transform: translate(-50%);
  text-shadow: 0rem 0rem 0.1rem #f9c513;
}

.home .activity .box .intro {
  line-height: 1.8;
}

.home .activity .box .intro:before {
  content: '';
  display: block;
  position: absolute;
  top: 0.3rem;
  bottom: 0.3rem;
  left: 0rem;
  width: 100%;
  background-image: url(../img/activity-border-left.png);
  background-size: 100% 0.3rem;
  background-position: center;
  background-repeat: repeat-y;
}

.home .activity .box .intro:after {
  content: '';
  display: block;
  position: absolute;
  top: 0.3rem;
  bottom: 0.3rem;
  right: 0rem;
  width: 100%;
  background-image: url(../img/activity-border-right.png);
  background-size: 100% 0.3rem;
  background-position: center;
  background-repeat: repeat-y;
}

.common-bg {
  background-image: url(../img/wall-bg.jpg);
  background-size: 100% auto;
  background-position: center;
  background-repeat: repeat-y;
  padding-bottom: 1rem;
}

.peoples-area .box .title {
  padding: 0.9rem 0rem 0.5rem;
  text-shadow: 0rem 0rem 0.1rem #f9c513;
}

.peoples-area .box ul {
  margin: -0.1rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.peoples-area .box ul li {
  width: 50%;
  padding: 0.1rem;
}

.peoples-area .box ul li a {
  position: relative;
  display: block;
  border-radius: 0.16rem;
  overflow: hidden;
  padding-top: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.peoples-area .box ul li a:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1.2rem;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
  z-index: 80;
}

.peoples-area .box ul li a * {
  z-index: 90;
}

.peoples-area .box ul li a .shop {
  z-index: 90;
  position: absolute;
  left: 0.15rem;
  right: 0.15rem;
  bottom: 0.5rem;
}

.peoples-area .box ul li a .name {
  z-index: 90;
  position: absolute;
  left: 0.15rem;
  bottom: 0.1rem;
  line-height: 1;
  width: 0.9rem;
}

.peoples-area .box ul li a .num {
  z-index: 90;
  position: absolute;
  right: 0.15rem;
  bottom: 0.11rem;
  line-height: 1;
}

.peoples-area .box ul li .vote {
  width: 60%;
  margin: 0.1rem auto;
  border-radius: 0.6rem;
  line-height: 0.6rem;
  text-align: center;
  padding: 0rem 0.1rem;
  background-color: rgba(249, 197, 9, 0.4);
}

.peoples-area .box .wrap-btn {
  padding: 0.3rem;
}

.peoples-area .box .wrap-btn .more {
  padding: 0.3rem;
  text-shadow: 0rem 0rem 0.1rem #f9c513;
}

/**7-首页 end**/
/**8-选手区 start**/
.players .peoples-area .box {
  overflow: hidden;
  padding-bottom: 0.5rem;
}

.players .peoples-area .box .search {
  border: 0.01rem solid #8a5a1b;
  border-radius: 0.16rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.2rem 0rem;
}

.players .peoples-area .box .search input {
  padding: 0.3rem;
  width: 100%;
}

.players .peoples-area .box .search .btn {
  display: block;
  height: 0.8rem;
  width: 0.8rem;
  margin-right: 0.2rem;
  background-image: url(../img/search.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.5rem;
}

/**8-选手区 end**/
/**9-选手详情 start**/
.players-details {
  min-height: 100%;
  overflow: hidden;
}

.players-details .wrap-slide .slide-box {
  padding-top: 0.2rem;
  padding-bottom: 0.3rem;
}

.players-details .wrap-slide .slide-box .img-box {
  border-radius: 0.16rem;
  overflow: hidden;
}

.players-details .wrap-slide .slide-box .img-box img {
  width: 100%;
}

.players-details .info .box {
  border: 0.01rem solid #fff;
  border-radius: 0.16rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0.1rem 0.3rem 0.3rem;
}

.players-details .info .box .right {
  display: flex;
  align-items: center;
}

.players-details .info .box .right .btn {
  margin-left: 0.1rem;
  border-radius: 0.6rem;
  text-align: center;
  line-height: 0.6rem;
  padding: 0rem 0.3rem;
  background-color: rgba(249, 197, 9, 0.4);
}

.players-details .intro {
  margin: 0.3rem 0rem 1.5rem;
}

.players-details .intro .box {
  border: 0.01rem solid #fff;
  border-radius: 0.16rem;
  padding: 0.3rem;
}

/**9-选手详情 end**/
/**10-排名 start**/
.ranking {
  min-height: 100%;
}

.ranking .tab {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.ranking .tab .box {
  height: 0.82rem;
  border: 0.01rem solid #fff;
  border-radius: 0.82rem;
  padding: 0.07rem;
  background-color: transparent;
  display: flex;
}

.ranking .tab .box .list {
  cursor: pointer;
  width: 50%;
  line-height: 0.68rem;
  box-sizing: border-box;
  border-radius: 0.82rem;
}

.ranking .tab .box .list.active {
  background-color: rgba(249, 197, 9, 0.4);
  color: #fff;
}

.ranking .rank-player .r-box .people li {
  border-bottom: 0.01rem solid #59576a;
}

.ranking .rank-player .r-box .people li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 0.4rem;
}

.ranking .rank-player .r-box .people li a .left {
  width: 0.7rem;
  min-width: 0.7rem;
  height: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ranking .rank-player .r-box .people li a .left img {
  width: 100%;
}

.ranking .rank-player .r-box .people li a .middle {
  width: calc(100% - 2rem);
  display: flex;
  align-items: center;
}

.ranking .rank-player .r-box .people li a .middle .img-box {
  display: block;
  width: 1.1rem;
  min-width: 1.1rem;
  height: 1.1rem;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0rem 0.35rem;
}

.ranking .rank-player .r-box .people li a .middle .info {
  width: calc(100% - 1.6rem);
}

.ranking .rank-player .r-box .people li a .middle .info .rk-shop {
  width: 100%;
  word-break: break-all;
  word-wrap: break-word;
}

.ranking .rank-player .r-box .people li a .right {
  width: 1.3rem;
  min-width: 1.3rem;
  text-align: right;
}

.ranking .rank-player .r-box .page {
  padding: 0.6rem 0.4rem 0.6rem;
}

.ranking .rank-player .r-box .page ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ranking .rank-player .r-box .page ul .prev, .ranking .rank-player .r-box .page ul .next {
  cursor: pointer;
  width: 0.5rem;
  height: 0.5rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ranking .rank-player .r-box .page ul .prev {
  background-image: url(../img/ico-prev.png);
}

.ranking .rank-player .r-box .page ul .next {
  background-image: url(../img/ico-next.png);
}

.ranking .rank-player .r-box .page ul .list {
  width: 0.5rem;
  height: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ranking .rank-player .r-box .page ul .list, .ranking .rank-player .r-box .page ul .list * {
  color: #fff;
}

/**10-排名 end**/
/**11-月度冠军 start**/
.monthly-champion {
  min-height: 100%;
}

.monthly-champion .r-box {
  padding-bottom: 0.6rem;
}

.monthly-champion .r-box .people li {
  border-bottom: 0.01rem solid #59576a;
}

.monthly-champion .r-box .people li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 0.3rem;
}

.monthly-champion .r-box .people li a .left {
  width: 0.8rem;
  min-width: 0.8rem;
  height: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.monthly-champion .r-box .people li a .left img {
  width: 100%;
}

.monthly-champion .r-box .people li a .middle {
  width: calc(100% - 3.6rem);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.monthly-champion .r-box .people li a .middle .img-box {
  display: block;
  width: 1.1rem;
  min-width: 1.1rem;
  height: 1.1rem;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0rem 0.35rem;
}

.monthly-champion .r-box .people li a .middle .info {
  width: calc(100% - 1.6rem);
}

.monthly-champion .r-box .people li a .middle .info .rk-shop {
  width: 100%;
  word-break: break-all;
  word-wrap: break-word;
}

.monthly-champion .r-box .people li a .right {
  width: 2.8rem;
  min-width: 2.8rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.monthly-champion .r-box .people li a .right .num {
  margin-right: 0.12rem;
}

.monthly-champion .r-box .people li a .right .btn {
  background-color: rgba(249, 197, 9, 0.4);
  border-radius: 0.6rem;
  line-height: 0.6rem;
  padding: 0rem 0.3rem;
}

/**11-月度冠军 end**/
/**12-报名 start**/
.sign-up {
  min-height: 100%;
}

.sign-up-info {
  padding-bottom: 1rem;
}

.sign-up-info .box ul {
  padding-top: 0.3rem;
  overflow: hidden;
}

.sign-up-info .box ul li {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
}

.sign-up-info .box ul li .left {
  min-width: 1.28rem;
  width: 1.28rem;
}

.sign-up-info .box ul li > input {
  padding: 0.3rem;
  border: 0.01rem solid #fff;
  border-radius: 0.16rem;
  width: 100%;
}

.sign-up-info .box ul .photo {
  align-items: flex-start;
}

.sign-up-info .box ul .photo .left {
  padding-top: 0.35rem;
}

.sign-up-info .box ul .photo .right {
  margin: -0.1rem;
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 1.28rem);
}

.sign-up-info .box ul .photo .right .add {
  cursor: pointer;
  position: relative;
  padding-top: 100%;
}

.sign-up-info .box ul .photo .right .add:before, .sign-up-info .box ul .photo .right .add:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 0.06rem;
}

.sign-up-info .box ul .photo .right .add:before {
  height: 0.06rem;
  width: 0.6rem;
}

.sign-up-info .box ul .photo .right .add:after {
  width: 0.06rem;
  height: 0.6rem;
}

.sign-up-info .box ul .photo .right .add input {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
}

.sign-up-info .box ul .photo .right .add .line {
  height: 100%;
  border-radius: 0.16rem;
  border: 0.01rem solid #fff;
}

.sign-up-info .box ul .photo .right .list {
  position: relative;
  padding: 0.1rem;
  width: 25%;
}

.sign-up-info .box ul .photo .right .list .img-box {
  padding-top: 100%;
  border-radius: 0.16rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sign-up-info .box ul .hobby {
  align-items: flex-start;
}

.sign-up-info .box ul .hobby .left {
  padding-top: 0.32rem;
}

.sign-up-info .box ul .hobby textarea {
  max-width: calc(100% - 1.28rem);
  min-width: calc(100% - 1.28rem);
  width: calc(100% - 1.28rem);
  padding: 0.3rem;
  border-radius: 0.16rem;
  border: 0.01rem solid #fff;
  line-height: 1.8;
  box-sizing: border-box;
  min-height: 2.84rem;
}

.sign-up-info .box ul .hobby textarea::-webkit-input-placeholder {
  color: #fff;
}

.sign-up-info .box .wrap-btn {
  padding: 0.8rem 0rem;
}

.sign-up-info .box .wrap-btn .btn {
  line-height: 1rem;
  border-radius: 1rem;
  background-color: rgba(249, 197, 9, 0.4);
}

.sign-up-info .box .explain {
  background-color: rgba(30, 20, 90, 0.7);
  margin: 0rem -0.2rem;
  position: fixed;
  bottom: 1rem;
  left: 0;
  right: 0;
}

.sign-up-info .box .explain .explain-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 0.1rem;
}

.sign-up-info .box .explain .explain-box .right {
  width: 4.4rem;
}

/**12-报名 end**/
/**13-已报名 start**/
.sign-uped {
  min-height: 100%;
}

/**13-已报名 end**/
/** start**/
/** end**/
/** start**/
/** end**/
