@charset "UTF-8";
/*
* @Author: cs5
* @Date:   2018-04-12 13:30:23
* @Last Modified by:   cs5
* @Last Modified time: 2018-04-12 16:30:11
*/
/*
 * scss函数设置
 */
/*  */
/*高度与行高设置*/
/*宽度与高度设置*/
/*字体设置*/
/*背景图片设置*/
/*注意： @import url('common.css');这种是写是属于css的，在scss中编译过程将找不到文件*/
.home .anchor-location {
  position: relative;
  height: 0px;
}

.home .anchor-location .anchor-item {
  position: absolute;
  top: -110px;
  width: 100%;
  height: 0px;
}

.home .head {
  height: 110px;
}

.home .head .container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 110px;
  background-color: #fff;
  z-index: 9999;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.home .head .container .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.home .head .container .box .left {
  height: 100%;
  display: flex;
  align-items: center;
}

.home .head .container .box .left .logo {
  width: 140px;
}

.home .head .container .box .left .name {
  margin-left: 25px;
}

.home .head .container .box .right, .home .head .container .box .right * {
  height: 100%;
}

.home .head .container .box .right > ul {
  display: flex;
}

.home .head .container .box .right > ul li {
  margin-left: 50px;
}

.home .head .container .box .right > ul li.active, .home .head .container .box .right > ul li.active *, .home .head .container .box .right > ul li:hover, .home .head .container .box .right > ul li:hover * {
  color: #005bac;
}

.home .head .container .box .right > ul li a {
  display: flex;
  align-items: center;
}

.home .wrap-swiper {
  padding-top: 39.06%;
  position: relative;
  background-color: #f6f6f6;
}

.home .wrap-swiper .swiper-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.home .wrap-swiper .swiper-container .swiper-wrapper, .home .wrap-swiper .swiper-container .swiper-slide {
  height: 100%;
}

.home .wrap-swiper .swiper-container .sliderimg-bg {
  cursor: pointer;
  display: block;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home .wrap-swiper .swiper-container .swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
}

.home .wrap-swiper .swiper-container .swiper-pagination-bullet {
  position: relative;
  background: transparent;
  width: 48px;
  height: 2px;
  opacity: 1;
  background: #fff;
  margin: 0 5px;
  border-radius: 0;
}

.home .wrap-swiper .swiper-container .swiper-pagination-bullet:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 30px;
  width: 100%;
}

.home .wrap-swiper .swiper-container .swiper-pagination-bullet-active {
  background: #005bac;
}

.home .foot {
  background-color: #202020;
  padding: 38px 15px;
}

.home .foot .box .desc {
  line-height: 1.6;
}

@media (min-width: 768px) {
  .home .enterprise-intro {
    margin-bottom: 60px;
  }
  .home .enterprise-intro .box .title {
    padding: 50px 0px 90px;
    font-size: 36px;
  }
  .home .enterprise-intro .box .enterprise {
    position: relative;
    min-height: 235px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 442px;
    padding-right: 60px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }
  .home .enterprise-intro .box .enterprise .ep-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 400px;
  }
  .home .enterprise-intro .box .enterprise .ep-about-me {
    position: absolute;
    top: -25px;
    left: 400px;
    display: inline-block;
    line-height: 50px;
    padding: 0 32px;
    font-size: 22px;
  }
  .home .enterprise-intro .box .enterprise .ep-content {
    height: 100%;
    line-height: 2.2;
  }
  .home .product-display {
    padding-bottom: 70px;
    background-image: url(../img/product-display-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .home .product-display .box .title {
    padding: 50px 0px;
    font-size: 36px;
  }
  .home .product-display .box .img-box {
    display: flex;
    justify-content: space-between;
  }
  .home .product-display .box .img-box .left, .home .product-display .box .img-box .right {
    position: relative;
  }
  .home .product-display .box .img-box .left img, .home .product-display .box .img-box .right img {
    width: 100%;
    max-width: 560px;
    vertical-align: bottom;
  }
  .home .product-display .box .img-box .left .info, .home .product-display .box .img-box .right .info {
    position: absolute;
    padding-left: 50px;
  }
  .home .product-display .box .img-box .left .info .line, .home .product-display .box .img-box .right .info .line {
    position: absolute;
    top: 5px;
    left: 0;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    border: 1px solid #808080;
    display: block;
  }
  .home .product-display .box .img-box .left .info .line:before, .home .product-display .box .img-box .right .info .line:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    background-color: #808080;
    border-radius: 100%;
  }
  .home .product-display .box .img-box .left .info .line:after, .home .product-display .box .img-box .right .info .line:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    height: 100px;
    width: 1px;
    background-color: #808080;
  }
  .home .product-display .box .img-box .left .info .cn, .home .product-display .box .img-box .right .info .cn {
    margin-bottom: 10px;
    font-size: 26px;
  }
  .home .product-display .box .img-box .left .info .en, .home .product-display .box .img-box .right .info .en {
    line-height: 26px;
    background-color: #f5a200;
    padding: 0 6px;
    display: inline-block;
    text-transform: uppercase;
  }
  .home .product-display .box .img-box .left {
    padding-top: 96px;
  }
  .home .product-display .box .img-box .left .info {
    top: 0;
    left: 95px;
  }
  .home .product-display .box .img-box .left .info .line:after {
    top: 23px;
  }
  .home .product-display .box .img-box .right {
    padding-bottom: 96px;
  }
  .home .product-display .box .img-box .right .info {
    bottom: 0;
    left: 95px;
  }
  .home .product-display .box .img-box .right .info .line:after {
    bottom: 23px;
  }
  .home .product-application .box .title {
    font-size: 36px;
    padding: 42px 0px;
  }
  .home .product-application .box .desc {
    line-height: 2;
    width: 625px;
    margin: 0 auto 35px;
  }
  .home .product-application .box .product-app-swiper {
    padding: 0 40px 0px;
    position: relative;
  }
  .home .product-application .box .product-app-swiper .swiper-container {
    width: 100%;
    padding-bottom: 100px;
  }
  .home .product-application .box .product-app-swiper .swiper-container .swiper-wrapper .swiper-slide {
    text-align: center;
    background: #fff;
    width: 368px;
    cursor: pointer;
  }
  .home .product-application .box .product-app-swiper .swiper-container .swiper-wrapper .swiper-slide.active .info {
    background-color: #005bac;
    color: #fff;
  }
  .home .product-application .box .product-app-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-img-bg {
    display: block;
    width: 100%;
    padding-top: 61.956%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  .home .product-application .box .product-app-swiper .swiper-container .swiper-wrapper .swiper-slide .info {
    line-height: 52px;
    font-size: 20px;
    background-color: #f4f4f4;
    color: #333;
  }
  .home .product-application .box .product-app-swiper .swiper-container .swiper-pagination {
    bottom: 40px;
  }
  .home .product-application .box .product-app-swiper .swiper-container .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }
  .home .product-application .box .product-app-swiper .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
    background: #005bac;
  }
  .home .contact-us {
    margin-bottom: 50px;
  }
  .home .contact-us .box .title {
    padding: 50px 0px;
    font-size: 36px;
  }
  .home .contact-us .box .info {
    margin-bottom: 35px;
  }
  .home .contact-us .box .info > * {
    line-height: 2;
  }
  .home .contact-us .box .map {
    height: 415px;
  }
  .home .contact-us .box .map > * {
    height: 100%;
  }
  .home .cooperative-partner {
    background: url(../img/cooperative-partner-bg.jpg) center no-repeat;
    background-size: cover;
  }
  .home .cooperative-partner .box {
    min-height: 332px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .home .cooperative-partner .box .title {
    padding: 50px 0px;
    font-size: 36px;
  }
  .home .cooperative-partner .box ul {
    display: flex;
    padding: 0 20px;
  }
  .home .cooperative-partner .box ul li {
    flex-grow: 1;
    margin-right: 30px;
  }
  .home .cooperative-partner .box ul li:nth-last-child(1) {
    margin-right: 0;
  }
  .home .cooperative-partner .box ul li img {
    width: 100%;
  }
  .home .insta-layer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 9999999;
    transition: all 0.3s;
    padding: 50px;
  }
  .home .insta-layer.active {
    opacity: 1;
    visibility: visible;
  }
  .home .insta-layer .layer-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
    width: 100%;
    max-width: 680px;
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .inslay-close {
    position: absolute;
    right: 30px;
    top: 12px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-image: url(../img/ico-clothing-layer-close.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .inslay-main {
    background-color: #fff;
    padding: 30px;
  }
  .inslay-main .imbox {
    max-height: 450px;
    overflow: auto;
  }
  .inslay-left {
    width: 40%;
    float: left;
  }
  .inslay-left .img-box {
    overflow: hidden;
    padding-right: 15px;
    padding-bottom: 15px;
  }
  .inslay-left .img-box .img {
    display: block;
    vertical-align: bottom;
    padding-top: 61.956%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .inslay-right {
    width: 60%;
    display: inline;
    line-height: 1.8;
  }
}

@media screen and (min-width: 0px) and (max-width: 1200px) {
  .home .head .container .box {
    padding: 0 10px;
  }
  .home .wrap-swiper {
    padding-top: 45%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .home .anchor-location {
    position: relative;
    height: 0px;
  }
  .home .anchor-location .anchor-item {
    position: absolute;
    top: -90px;
    width: 100%;
    height: 0px;
  }
  .home .head {
    height: 90px;
  }
  .home .head .container {
    height: 90px;
  }
  .home .head .container .box {
    padding: 0 10px;
  }
  .home .head .container .box .left .logo {
    width: 120px;
  }
  .home .head .container .box .left .name {
    font-size: 22px;
    margin-left: 22px;
  }
  .home .head .container .box .right > ul li {
    margin-left: 30px;
  }
  .home .wrap-swiper {
    padding-top: 50%;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .padding-lr-phone {
    padding-left: 15px;
    padding-right: 15px;
  }
  .padding-tb-phone-title {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 24px;
  }
  .home .anchor-location {
    position: relative;
    height: 0px;
  }
  .home .anchor-location .anchor-item {
    position: absolute;
    top: -50px;
    width: 100%;
    height: 0px;
  }
  .home .head {
    height: 50px;
  }
  .home .head .container {
    height: 50px;
  }
  .home .head .container .box {
    padding: 0 10px;
    position: relative;
  }
  .home .head .container .box .left .logo {
    width: 70px;
  }
  .home .head .container .box .left .name {
    font-size: 18px;
    margin-left: 15px;
  }
  .home .head .container .box .right {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 9998;
    display: none;
  }
  .home .head .container .box .right, .home .head .container .box .right * {
    height: auto;
  }
  .home .head .container .box .right > ul {
    display: block;
  }
  .home .head .container .box .right > ul li {
    margin-left: 0px;
  }
  .home .head .container .box .right > ul li:nth-last-child(1) a {
    border-bottom: 1px solid #eee;
  }
  .home .head .container .box .right > ul li a {
    border-top: 1px solid #eee;
    display: block;
    padding: 12px 12px;
  }
  .home .head .container .box .mobile-menu.active .menu-icon span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -1px;
    left: 0px;
  }
  .home .head .container .box .mobile-menu.active .menu-icon span:nth-child(2) {
    opacity: 0;
    width: 0%;
  }
  .home .head .container .box .mobile-menu.active .menu-icon span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 17px;
    left: 0px;
  }
  .home .head .container .box .mobile-menu .menu-icon {
    width: 25px;
    height: 19px;
    cursor: pointer;
    position: relative;
  }
  .home .head .container .box .mobile-menu .menu-icon span {
    display: inline-block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #000;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    -webkit-transform-origin: left center;
    transform-origin: left center;
  }
  .home .head .container .box .mobile-menu .menu-icon span:nth-child(1) {
    top: 0px;
  }
  .home .head .container .box .mobile-menu .menu-icon span:nth-child(2) {
    top: 8px;
  }
  .home .head .container .box .mobile-menu .menu-icon span:nth-child(3) {
    top: 16px;
  }
  .home .wrap-swiper {
    padding-top: 60%;
  }
  .home .wrap-swiper .swiper-container .swiper-pagination-bullet {
    background: transparent;
    width: 8px;
    height: 8px;
    border: 1px solid #005bac;
    opacity: 1;
    border-radius: 100%;
  }
  .home .wrap-swiper .swiper-container .swiper-pagination-bullet-active {
    background: #005bac;
    width: 10px;
    height: 10px;
  }
  .home .enterprise-intro {
    margin-bottom: 50px;
  }
  .home .enterprise-intro .box .enterprise .ep-img {
    width: 100%;
    vertical-align: bottom;
  }
  .home .enterprise-intro .box .enterprise .ep-about-me {
    display: inline-block;
    line-height: 50px;
    padding: 0 32px;
    font-size: 17px;
  }
  .home .enterprise-intro .box .enterprise .ep-content {
    height: 100%;
    line-height: 2.2;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .home .product-display {
    padding-bottom: 30px;
    background-color: #e7eaf0;
  }
  .home .product-display .box .img-box .left, .home .product-display .box .img-box .right {
    position: relative;
  }
  .home .product-display .box .img-box .left img, .home .product-display .box .img-box .right img {
    width: 100%;
    vertical-align: bottom;
  }
  .home .product-display .box .img-box .left .info, .home .product-display .box .img-box .right .info {
    position: absolute;
    padding-left: 50px;
  }
  .home .product-display .box .img-box .left .info .line, .home .product-display .box .img-box .right .info .line {
    position: absolute;
    top: 5px;
    left: 0;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    border: 1px solid #808080;
    display: block;
  }
  .home .product-display .box .img-box .left .info .line:before, .home .product-display .box .img-box .right .info .line:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    background-color: #808080;
    border-radius: 100%;
  }
  .home .product-display .box .img-box .left .info .line:after, .home .product-display .box .img-box .right .info .line:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    height: 100px;
    width: 1px;
    background-color: #808080;
  }
  .home .product-display .box .img-box .left .info .cn, .home .product-display .box .img-box .right .info .cn {
    margin-bottom: 10px;
    font-size: 26px;
  }
  .home .product-display .box .img-box .left .info .en, .home .product-display .box .img-box .right .info .en {
    line-height: 26px;
    background-color: #f5a200;
    padding: 0 6px;
    display: inline-block;
    text-transform: uppercase;
  }
  .home .product-display .box .img-box .left {
    padding-top: 96px;
    padding-bottom: 40px;
  }
  .home .product-display .box .img-box .left .info {
    top: 0;
    left: 95px;
  }
  .home .product-display .box .img-box .left .info .line:after {
    top: 23px;
  }
  .home .product-display .box .img-box .right {
    padding-bottom: 96px;
  }
  .home .product-display .box .img-box .right .info {
    bottom: 0;
    left: 95px;
  }
  .home .product-display .box .img-box .right .info .line:after {
    bottom: 23px;
  }
  .home .product-application .box .desc {
    line-height: 2;
    margin-bottom: 20px;
  }
  .home .product-application .box .product-app-swiper {
    position: relative;
  }
  .home .product-application .box .product-app-swiper .swiper-container {
    width: 100%;
    padding-bottom: 60px;
  }
  .home .product-application .box .product-app-swiper .swiper-container .swiper-wrapper .swiper-slide {
    text-align: center;
    background: #fff;
    width: 368px;
  }
  .home .product-application .box .product-app-swiper .swiper-container .swiper-wrapper .swiper-slide.active .info {
    background-color: #005bac;
    color: #fff;
  }
  .home .product-application .box .product-app-swiper .swiper-container .swiper-wrapper .swiper-slide .swiper-img-bg {
    display: block;
    width: 100%;
    padding-top: 61.956%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .home .product-application .box .product-app-swiper .swiper-container .swiper-wrapper .swiper-slide .info {
    line-height: 40px;
    background-color: #f4f4f4;
    color: #333;
    font-size: 14px;
  }
  .home .product-application .box .product-app-swiper .swiper-container .swiper-pagination {
    bottom: 20px;
  }
  .home .product-application .box .product-app-swiper .swiper-container .swiper-pagination .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }
  .home .product-application .box .product-app-swiper .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
    background: #005bac;
  }
  .home .cooperative-partner {
    background: url(../img/cooperative-partner-bg.jpg) center no-repeat;
    background-size: cover;
  }
  .home .cooperative-partner .box {
    min-height: 332px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .home .cooperative-partner .box .title {
    padding: 50px 0px;
    font-size: 36px;
  }
  .home .cooperative-partner .box ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px 30px;
  }
  .home .cooperative-partner .box ul li {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .home .cooperative-partner .box ul li img {
    width: 100%;
  }
  .home .contact-us .box .info {
    margin-bottom: 30px;
  }
  .home .contact-us .box .info > * {
    line-height: 2;
  }
  .home .contact-us .box .map {
    height: 280px;
    margin-bottom: 30px;
  }
  .home .contact-us .box .map > * {
    height: 100%;
  }
  .insta-layer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    visibility: hidden;
    transform: translateY(100%);
    transition: all 0.38s;
    z-index: 99999999;
  }
  .insta-layer.active {
    visibility: visible;
    transform: translateY(0%);
  }
  .insta-layer .layer-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate(0);
    padding: 0 0 46px;
  }
  .insta-layer .layer-box .inslay-close {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    height: 46px;
    width: 100%;
    background-image: url(../img/ico-close-black.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  .inslay-main {
    height: 100%;
    overflow: auto;
    padding: 20px;
  }
  .inslay-main .imbox .inslay-left {
    margin-bottom: 10px;
  }
  .inslay-main .imbox .inslay-left .img-box .img {
    display: block;
    vertical-align: bottom;
    padding-top: 61.956%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .inslay-main .imbox .inslay-right {
    padding-bottom: 20px;
    line-height: 1.8;
  }
}
