@charset "utf-8";

/*调用css样式*/
@import url('swiper.min.css');

/*调用scss样式、函数、变量*/
@import 'variable.scss';
@import 'mixin.scss';

/**10像素到40像素的字体,用法:fz20 **/
@for $i from 10 through 60 {
  .fz#{$i} { font-size: $i+px; }
}


html,body{
	height: 100%;
}
body{
    min-width: $mainWidth;
}
select{
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    outline: none;
}
.main-width{
    width: $mainWidth;
	min-width: $mainWidth;
	margin: 0 auto;
}
.main-color{
	color:$mainColor !important;
}
.sub-color{
    color: $subColor !important;
}
.main-bg{
	background-color: $mainColor !important;
}
.orange-color{
    color:$orangeColor !important;
}
.orange-bg{
    background-color:$orangeColor !important;
}
.c-666{
    &,*{
        color: #666;
    }   
}
.no-select,.btn{
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.btn{
    cursor: pointer;
}
.text-center{
    text-align: center;
}
.text-indent{
    text-indent: 26px;
}
.hide{
    display: none !important;
}
.show{
    display: block !important;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.no-weight{
    font-weight: normal;
}
.ellipsis1{
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}
.ellipsis2{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.ellipsis3{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.ellipsis4{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}






