@charset "utf-8";
@import 'variable.scss';
@import 'mixin.scss';
/*注意： @import url('common.css');这种是写是属于css的，在scss中编译过程将找不到文件*/

/** 底部start**/
.footer{
    .padding-lr{
        background-color: #222;
        .go-top{
            height: 0.82rem;
            background-image: url(../img/footer-top.png);
            background-position: center;
            background-size: 0.22rem 0.22rem;
            background-repeat: no-repeat;
            cursor: pointer;
            border-bottom: 0.01rem solid #444;
        }
        .f-logo{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5rem 0rem;
            img{
                width: 3rem;
            }
        }
        .friendship{
            border-top: 0.01rem dotted #444;
            border-bottom: 0.01rem dotted #444;
            overflow: hidden;
            font-size: 0rem;
            ul{
                padding: 0.28rem 0rem;
                white-space: nowrap;
                display: inline-block;
                li{
                    display: inline-block;
                    margin-right: 0.8rem;
                    &:nth-of-type(1),&:nth-last-of-type(1){
                        margin-right: 0rem;
                    }
                    a{
                        display: inline;
                    }
                }
            }
        }
        .info{
            padding: 0.3rem 0rem;
        }
    }
}

.customer-service{
    position: fixed;
    right: 0.3rem;
    bottom: 0.8rem;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 100%;
    cursor: pointer;
    z-index: 9999999;
    img{
        width: 100%;
    }
}
/** 底部end**/
    
/**首页 start**/
.home{
    .wrap-banner{
        position: relative;
        .banner-box{
            padding-top: 136.53%;
            background-image: url(../img/banner.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            animation: changeBg 1.2s infinite;
            -webkit-animation: changeBg 1.2s infinite;
        }
    }
    .dream{
        padding-bottom: 0.5rem;
        .padding-lr{
            @at-root .all-title{
                padding: 0.5rem 0rem;
                text-align: center;
                img{
                    width: 6.9rem;
                }
            }
            ul{
                border: 0.01rem solid #000;
                li{
                    display: flex;
                    border-bottom: 0.01rem solid #000;
                    padding: 0.05rem;
                    &:nth-of-type(2n+2){
                        flex-direction: row-reverse;
                    }
                    &:nth-last-of-type(1){
                        border-bottom: none;
                    }
                    .info,.img-box{
                        width: 50%;
                        margin: 0.05rem;
                    }
                    .info{
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        border: 0.01rem dashed #000;
                        .num{
                            margin-bottom: 0.08rem;
                        }
                    }
                    .img-box{
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .news{
        background-image: url(../img/news-bg.jpg);
        @include bgCover();
        .padding-lr{
            .wrap-slide{
                .slide-box{
                    position: relative;
                    .swiper-container{
                        height: auto;
                        .swiper-wrapper{
                            height: 100%;
                            .swiper-slide{
                                height: 100%;
                                a{
                                    display: block;
                                    .img-box{
                                        img{
                                            width: 100%;
                                        }
                                    }
                                    .info{
                                        padding: 0.3rem;
                                        .title{
                                            margin-bottom: 0.1rem;
                                        }
                                        .desc{
                                            line-height: 1.6;
                                            height: 1.28rem;
                                        }
                                        .time{
                                            margin-top: 0.2rem;
                                        }
                                    }
                                }
                            }
                        }
                        .swiper-button-next, .swiper-button-prev{
                            width: 0.8rem;
                            height: 0.8rem;
                            @include bgCover();
                        }
                        .swiper-button-prev{
                            background-image: url(../img/ico-prev.png);
                        }
                        .swiper-button-next{
                            background-image: url(../img/ico-next.png);
                        }
                    }
                }
            }
            .wrap-btn{
                padding: 0.5rem 0rem;
                .btn{
                    display: block;
                    width: 3.6rem;
                    line-height: 1rem;
                    text-align: center;
                    margin: 0 auto;
                }
            }
        }
    }
    .school{
        background-image: url(../img/school-bg.jpg);
        padding: 0.3rem;
        @include bgCover();
        .box{
            .content{
                padding-bottom: 0.3rem;
                .head{
                    margin-bottom: 0.5rem;
                }
                .desc{
                    position: relative;
                    line-height: 1.7;
                    margin-bottom: 0.3rem;
                    &:before{
                        content: '';
                        display: inline-block;
                        margin-right: 0.08rem;
                        position: relative;
                        top: 0.1rem;
                        border-style: solid;
                        border-width: 0.15rem;
                        height: 0.0rem;
                        border-color:#000 transparent transparent transparent;
                    }
                }
                img{
                    max-width: 100%;
                }
            }
        }
    }
    .team{
        padding-bottom: 0.5rem;
        .box{
            .content{
                background-image: url(../img/team-bg.jpg);
                background-position: 100% 0%;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                padding-top: 0.3rem;
                padding-bottom: 0.6rem;
                .desc{
                    margin-left: 0.9rem;
                    margin-right: 0.9rem;
                    margin-bottom: 0.3rem;
                    position: relative;
                    i{
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        border: 0.01rem solid #000;
                        transform: translate(-0.14rem,-0.14rem);
                        background-color: #ffd1d5;
                        z-index: 80;
                    }
                    p{
                        border: 0.01rem solid #000;
                        padding: 0.42rem 0.35rem;
                        line-height: 1.8;
                        position: relative;
                        background-color: #fff;
                        z-index: 90;
                    }
                }
                .people{
                    img{
                        width: 5rem;
                        height: 5rem;
                    }
                }
            }
        }
    }
    .campus{
        padding-bottom: 0.5rem;
        background-image: url(../img/campus-bg.jpg);
        @include bgCover();
    }
    .subject-time{
        padding-bottom: 0.5rem;
        .box{
            .sub-title{
                padding: 0.5rem 0rem 0.3rem;
                font-weight: bold;
            }
            .opening-time{
                li{
                    padding: 0.3rem;
                    border: 0.03rem solid #4d4348;
                    margin-bottom: 0.3rem;
                }
            }
        }
    }
    .charge{
        padding-bottom: 0.4rem;
        .box{
            .explain{
                ul{
                    li{
                        height: 1rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        background-color: #fff;
                        margin-bottom: 0.13rem;
                    }
                }
            }
        }
    }
    .sign-up{
        .box{
            ul{
                li{
                    margin-bottom: 0.2rem;
                    &:nth-last-of-type(1){
                        margin-bottom: 0;
                    }
                    input{
                        width: 100%;
                        border: 0.01rem solid #222;
                        line-height: 1;
                        padding: 0.35rem 0.3rem;
                        &:focus{
                            border: 0.01rem solid $mainColor;
                        }
                    }
                }
            }
            .wrap-btn{
                padding: 0.5rem 0rem;
                .btn{
                    line-height: 1rem;
                }
            }
        }
    }
    .contact-way{
        .section1{
            background-image: url(../img/map.jpg);
            @include bgCover();
            height: 5rem;
            position: relative;
            .bar{
                width: 6.9rem;
                height: 0.8rem;
                position: absolute;
                top: 1.2rem;
                left: 50%;
                transform: translateX(-50%);
            }
            .info{
                position: absolute;
                top: 1rem;
                left: 0.2rem;
                right: 0.2rem;
                .title{
                    line-height: 1;
                }
                ul{
                    position: absolute;
                    top: 0.78rem;
                    left: 50%;
                    width: 6rem;
                    line-height: 1.8;
                    margin-left: -2.48rem;
                    li{
                        &,*{
                            color: #fff;
                        }
                        display:flex;
                        i{
                            font-style: normal;
                        }
                        .letter-spacing1{
                            letter-spacing: 0.15rem;
                            margin-right: -0.15rem;
                        }
                        .letter-spacing2{
                            letter-spacing: 0.57rem;
                            margin-right: -0.57rem;
                        }
                    }
                }
            }
        }
        .section2{
            ul{
                display: flex;
                background-color: #cd006a;
                li{
                    width: 33.33%;
                    &:nth-of-type(2){
                        background-color: $mainColor;
                    }
                    a{
                        display: flex;
                        justify-content: center;
                        padding: 0.2rem 0rem;
                        img{
                            width: 0.4rem;
                            height: 0.4rem;
                        }
                        .info{
                            padding-top: 0.05rem;
                            line-height: 1.4;
                        }
                    }
                }
            }
        }
    }
}
/**首页 end**/



/** start**/
.table {
  width: 100%;
  background-color: transparent;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  box-sizing: border-box;
  border-spacing: 0;
  border-collapse: collapse !important;
  /*比较重要的属性,利用谷歌浏览器调试工具从boostrap table框架插件中学到的*/
}

.table td, .table th {
  box-sizing: border-box;
  vertical-align: top;
}

.table tbody tr td {
  border-right: 0.01rem solid #ddd;
  border-bottom: 0.01rem  solid #ddd;
  padding: 0.35rem 0.1rem;
  width: 1.6rem;
  height: 1rem;
  vertical-align: middle;
  text-align: center;
}

.table tbody tr td:nth-child(1) {
  background-color: #4d4348;
  width: 0.6rem;
  color: #fff;
  padding: 0rem 0.15rem;
}
/** end**/
    
    

/** start**/

/** end**/




@keyframes changeBg{
    0%,50%{background-image: url(../img/banner.jpg);}
    100%{background-image: url(../img/banner-shine.jpg);}
}
@-webkit-keyframes changeBg{
    0%,50%{background-image: url(../img/banner.jpg);}
    100%{background-image: url(../img/banner-shine.jpg);}
}
