@charset "utf-8";

/*调用css样式*/
@import url('swiper.min.css');

/*调用scss样式、函数、变量*/
@import 'variable.scss';
@import 'mixin.scss';

html,body{
	height: 100%;
}

select{
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    outline: none;
}
img{
    vertical-align: top;
}
.main-width{
	max-width: $mainWidth;
	margin: 0 auto;
}
.main-color{
	color:$mainColor !important;
}
.sub-color{
    color: $subColor !important;
}
.main-bg{
	background-color: $mainColor !important;
}
.fc-666{
    color: #666;
}
.fc-ccc{
    color: #ccc;
}
.fc-999{
    color: #ccc;
}
.fc-fff{
    color: #fff;
}
.bg-fff{
    background-color: #fff !important;
}
.no-select,.btn{
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.btn{
    cursor: pointer;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.hide{
    display: none !important;
}
.show{
    display: block !important;
}

.no-weight{
    font-weight: normal;
}
.ellipsis1{
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}
.ellipsis2{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.ellipsis3{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.ellipsis4{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.ellipsis5{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
.ellipsis6{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}
.ellipsis7{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}
.ellipsis8{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}




.nice-scroll::-webkit-scrollbar { 
    width: 8px; 
    height: 5px; 
    background-color: transparent; 
}

/*定义滚动条轨道 内阴影+圆角*/
.nice-scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

/*定义滑块 内阴影+圆角*/
.nice-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px; 
    background-color: rgba(0, 0, 0, 0.3); 
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3); 
}
































/*分页样式 start*/
.wrap-page{
    font-size: 0;
    text-align: center;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.wrap-page .page-box{
    display: inline-block;
    font-size: 0;
}
.wrap-page .page-box ul{
    display: inline-block !important;
}
.wrap-page .page-box ul:after{
    content: '';
    display: block;
    clear: both;
}
.wrap-page .page-box ul li{
    float: left;
    width: auto !important;
    line-height: 40px;
    height: 40px;
    min-width: 40px;
    padding: 0px 5px;
    box-sizing: border-box;
    text-align: center;
    margin:0px 2px;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
    color: #666;
}
.wrap-page .page-box ul li.active,.wrap-page .page-box ul li.page-list:hover{
    background-color: transparent;/**背景色（主色）--在此修改**/
}
.wrap-page .page-box ul li.active,
.wrap-page .page-box ul li.active *,
.wrap-page .page-box ul li.page-list:hover,
.wrap-page .page-box ul li.page-list:hover *{
    color: #f0ad17 !important;
}
.wrap-page .page-box ul li.page-prev{
    background-image: url(../img/video-prev.png);
    margin-right: 15px;
}
.wrap-page .page-box ul li.page-next{
    background-image: url(../img/video-next.png);
    margin-left: 15px;
}
.wrap-page .page-box ul li.page-prev,.wrap-page .page-box ul li.page-next{
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 40px !important;
}
.wrap-page .page-box ul li.page-more{
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB0PSIxNTM5MDc3Mzg5NzQ0IiBjbGFzcz0iaWNvbiIgc3R5bGU9IiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjIzMDQiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iODAiIGhlaWdodD0iODAiPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PC9zdHlsZT48L2RlZnM+PHBhdGggZD0iTTI0Ny4xNzI0MTQgNTgyLjYyMDY5YTcwLjYyMDY5IDcwLjYyMDY5IDAgMSAwIDAtMTQxLjI0MTM4IDcwLjYyMDY5IDcwLjYyMDY5IDAgMCAwIDAgMTQxLjI0MTM4eiBtMjY0LjgyNzU4NiAwYTcwLjYyMDY5IDcwLjYyMDY5IDAgMSAwIDAtMTQxLjI0MTM4IDcwLjYyMDY5IDcwLjYyMDY5IDAgMCAwIDAgMTQxLjI0MTM4eiBtMjY0LjgyNzU4NiAwYTcwLjYyMDY5IDcwLjYyMDY5IDAgMSAwIDAtMTQxLjI0MTM4IDcwLjYyMDY5IDcwLjYyMDY5IDAgMCAwIDAgMTQxLjI0MTM4eiIgcC1pZD0iMjMwNSIgZmlsbD0iIzMzMzMzMyI+PC9wYXRoPjwvc3ZnPg==);
    background-color: transparent;
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
}
.wrap-page .page-box ul li a{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.wrap-page .page-box ul li a,.wrap-page .page-box ul li a *{
    color: #333;
    font-style: italic;
    position: relative;
}
.wrap-page .page-box ul li:hover a *:after,
.wrap-page .page-box ul li.active a *:after{
    border-bottom: 1px solid #f0ad17;
}
.wrap-page .page-box ul li a *:after{
    content: '';
    display: block;
    position: absolute;
    bottom: 8px;
    left: 0;
    right: 0;
    border-bottom: 1px solid #333;
}
/*分页样式 end*/

