@charset "utf-8";
@import 'variable.scss';
@import 'mixin.scss';
/*注意： @import url('common.css');这种是写是属于css的，在scss中编译过程将找不到文件*/

body{
    position: relative;
}
.article img{
    max-width: 100%;
}

/**头部信息 start**/
.header{
    $h:110px;
    height: $h;
    .contains{
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        background-color: #2e3232;
        z-index: 9999999;
        height: $h;
        .box{
            height: 100%;
            display: flex;
            .left{
                min-width: 150px;
                height: 100%;
                display: flex;
                align-items: center;
                a{
                    width: 100%;
                    height: 100%;
                    display: block;
                    background: url(../img/header-logo.png) no-repeat center;
                    background-size: contain;
                }
            }
            .right{
                display: flex;
                align-items: center;
                width: 100%;
                >ul{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    li{
                        position: relative;
                        margin-left:20px;
                        ;;
                        &.active{
                            .first-title{
                                color: $mainColor;
                            }
                        }
                        &:hover{
                            .first-title{
                                color: $mainColor;
                            }
                            .second-level{
                                display: flex;
                            }
                        }
                        .first-title {
                            color: #fff;
                            line-height: 40px;
                            padding: 0px 12px;
                            
                        }
                        .second-level{
                            position: absolute;
                            top: 40px;
                            left: 0px;
                            display: none;
                            .second-title{
                                &:hover{
                                    color: #333;
                                    background-color: $mainColor;
                                }
                                white-space: nowrap;
                                color: #fff;
                                line-height: 35px;
                                padding: 0px 12px;
                                margin-right: 15px;
                            }
                        }
                    }
                }
                .search-phone{
                    min-width: 99px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    .search,.phone{
                        padding: 10px 0px;
                        position: relative;
                        &:hover,&.active{
                            .ico-btn{
                                background-color: $mainColor;
                            }
                            .box{
                                display: flex;
                                position: absolute;
                                top: 50px;
                                right: 0px;
                                background-color: #fff;
                                border-radius: 36px;
                                align-items: center;
                                height: 36px;
                            }
                        }
                        .ico-btn{
                            @include wh(30px);
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 20px;
                            border-radius: 100%;
                            cursor: pointer;
                        }
                    }
                    .search{
                        .ico-btn{
                            background-image: url(../img/header-search-btn1.png);
                        }
                        .box{
                            display: none;
                            input{
                                line-height: 1;
                                width: 170px;
                                padding: 11px 20px;
                                box-sizing: border-box;
                            }
                            .ico-go{
                                cursor: pointer;
                                display: block;
                                height: 100%;
                                min-width: 36px;
                                background-image: url(../img/header-search-btn2.png);
                                background-size: 20px;
                                background-repeat: no-repeat;
                                background-position: center;
                            }
                        }
                    }
                    .phone{
                        .ico-btn{
                            background-image: url(../img/header-phone.png);
                        }
                        .box{
                            display:none;
                            padding: 0px 25px;
                            white-space: nowrap;
                            color: #666;
                        }
                    }
                }
            }
        }
    }
}
/**头部信息 end**/




/**底部信息 start**/
.footer{
    background-color: #222;
    .contains{
        padding-bottom: 20px;
        .box-top{
            position: relative;
            .go-top{
                @include wh(42px);
                border-radius: 100%;
                position: absolute;
                top: 90px;
                right: -64px;
                background-image: url(../img/go-top.png);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer;
            }
        }
        .logo{
            padding: 40px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                height: auto;
            }
        }
        .box-nav{
            ul{
                display: flex;
                justify-content: center;
                li{
                    padding: 0px 20px;
                    border-right: 1px solid #fff;
                    &:nth-last-child(1){
                        border-right: none;
                    }
                    a{
                        &:hover{
                            text-decoration: underline;
                        }
                        display: block;
                        color: #fff;
                        line-height: 1;
                    }
                }
            }
        }
        .share{
            ul{
                display: flex;
                justify-content: center;
                margin: 22px 0px 50px;
                li{
                    position: relative;
                    margin: 0px 6px;
                    &:hover{
                        .img-box-code{
                            display: block;
                        }
                    }
                    .ico{
                        @include wh(22px);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    .img-box-code{
                        display: none;
                        position: absolute;
                        top: 0px;
                        left: 34px;
                        background-color: #626262;
                        padding: 8px;
                        border-radius: 8px;
                    }
                }
            }
        }
    }
}
/**底部信息 end**/




/** start**/

/** end**/



/** start**/

/** end**/




/**首页 start**/
.home{
    .header{
        height: 0px;
        .contains{
            background-color: rgba(46,50,50,0.2) !important;
        }
    }
    .banner-swiper{
        position: relative;
        .swiper-wrapper{
            .swiper-slide{
                .img-box{
                    display: block;
                    /*padding-top: 39.68%;*/
                    height: 762px;
                   @include bgCover();
                }
            }
        }
        .navigator{
            width: 1200px;
            position: absolute;
            bottom: 50px;
            left:0px;
            right: 0px;
            z-index: 9999999;
            .n-box{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                .swiper-pagination{
                    position: static;
                    padding: 0px 15px;
                    .swiper-pagination-bullet{
                        background-color: #333;
                        @include wh(12px);
                        margin: 0px 15px;
                    }
                }
                .swiper-button-next, .swiper-button-prev{
                    position: static;
                    top: 0;
                    margin-top:0px;
                    @include wh(44px);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    opacity: 0.5;
                }
                .swiper-button-prev{
                    background-image: url(../img/banner-prev.png);
                }
                .swiper-button-next{
                    background-image: url(../img/banner-next.png);
                    margin-left: 8px;
                }
                .swiper-button-disabled{
                    opacity: 0.2;
                }
            }
                
        }
    }
    .news{
        .box{
            padding: 80px 0px 70px;
            .big-title{
                
            }
            .news-head-list{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 20px 0px 50px;
                .left{
                    display: flex;
                    flex-wrap: wrap;
                    a{
                        &.active{
                            background-color: $mainColor;
                            color: #fff;
                            box-shadow: 0px 5px 10px rgba(240,173,23,0.2);
                        }
                        color: #666;
                        line-height:28px;
                        padding: 0px 18px;
                        border-radius: 28px;
                        cursor: pointer;
                    }
                }
                .right{
                    
                }
            }
            .news-content-list{
                display: flex;
                justify-content: space-between;
                .left{
                    width: 570px;
                    ul{
                        li{
                            margin-bottom: 20px;
                            a{
                                display: flex;
                                justify-content: space-between;
                                .time{
                                    text-align: center;
                                    border: 1px solid #dbdbdb;
                                    width: 80px;
                                    padding: 12px 0px;
                                    .day{
                                        line-height: 1;
                                        margin-bottom: 2px;
                                    }
                                    .year-month{
                                        line-height: 1;
                                    }
                                }
                                .article{
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    .title{
                                        margin-bottom: 5px;
                                    }
                                    .desc{
                                        &,*{
                                            color: #666 !important;
                                            display: inline !important;
                                        }
                                        width:460px;
                                    }
                                }
                            }
                        }
                    }
                }
                .right{
                    width: 560px;
                    height: 410px;
                    .swiper-container{
                        height: 100%;
                        .swiper-wrapper{
                            height: 100%;
                            .swiper-slide{
                                height: 100%;
                                a{
                                    height: 100%;
                                    display: block;
                                    @include bgCover();
                                    position: relative;
                                    &:before{
                                        content: '';
                                        display: block;
                                        position: absolute;
                                        left: 0;
                                        right: 0;
                                        bottom: 0;
                                        height: 65px;
                                        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5));
                                    }
                                    .desc{
                                        &,*{
                                            color: #fff !important;
                                        }
                                        *{
                                            display: inline !important;
                                        }
                                        position: absolute;
                                        bottom: 16px;
                                        left: 20px;
                                        right: 20px;
                                        line-height: 1;
                                    }
                                }
                            }
                        }
                        .swiper-pagination{
                            bottom: 40px;
                            text-align:left;
                            padding-left: 7px;
                            .swiper-pagination-bullet{
                                margin: 0 14px;
                                background-color: #fff;
                                &.swiper-pagination-bullet-active{
                                    background-color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .video{
        .box{
            .big-title{
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
            }
            .swiper-container{
                padding: 70px 0px 80px;
                .swiper-wrapper{
                    .swiper-slide{
                        a{
                            display: block;
                            height: 100%;
                            padding-top: 75%;
                            @include bgCover();
                            position: relative;
                            &:before{
                                content: '';
                                display: block;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%,-50%);
                                @include wh(78px);
                                background-image: url(../img/video-player-gray.png);
                                background-size: cover;
                                background-repeat: no-repeat;
                                background-position: center;
                            }
                            &:hover{
                                &:before{
                                    background-image: url(../img/video-player-active.png);
                                }
                                .desc{
                                    color:$mainColor;
                                }
                            }
                            .desc{
                                position: absolute;
                                bottom: 20px;
                                left: 20px;
                                right: 20px;
                                text-align: center;
                                text-decoration: underline;
                                font-style: italic;
                                *{
                                    display: inline !important;
                                    color: #fff !important;
                                }
                            }
                        }
                    }
                }
            }
            .swiper-button-next, .swiper-button-prev{
                top: 40px;
                height: 40px;
                width: 40px;
            }
            .swiper-button-prev{
                background-image: url(../img/video-prev.png);
            }
            .swiper-button-next{
                background-image: url(../img/video-next.png);
            }
        }
    }
    .develop{
        .box{
            .big-title{
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                margin-bottom: 50px;
            }
        }
        @at-root.develop-container{
            height: 80px;
            position: relative;
            margin: 0px auto;
            &:before,&:after{
                content: '';
                display: block;
                position: absolute;
                top: 0px;
                bottom: 0px;
                width: 80px;
                z-index: 80;
            }
            &:before{
                left: 0px;
                background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0.9) , rgba(255,255,255,0)); 
            }
            &:after{
                right: 0px;
                background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.9) , rgba(255,255,255,1)); 
                
            }
            .line-gray{
                position: absolute;
                bottom: 16px;
                left: 0;
                right: 0;
                border-bottom: 1px solid #ccc;
                z-index:9;
            }
            .swiper-wrapper{
                position: relative;
                z-index: 90;
                padding-top: 8px;
                .swiper-slide{
                    cursor: pointer;
                    text-align: center;
                    font-size: 18px;
                    color: #999;
                    position: relative;
                    &.active{
                        &:after{
                            background-color: $mainColor;
                            bottom: 11px;
                            @include wh(14px);
                        }
                        color:$mainColor;
                        top: -7px;
                    }
                    &:after{
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: 19px;
                        left: 50%;
                        transform: translateX(-50%);
                        @include wh(10px);
                        border-radius: 100%;
                        background-color: #ccc;
                    }
                }
            }
            .swiper-button-prev,.swiper-button-next{
                position: absolute;
                bottom: 3px;
                top: auto;
                width: 28px;
                height: 28px;
                cursor: pointer;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                z-index: 92;
            }
            .swiper-button-next{
                left: 0px;
                right: auto;
                background-image: url(../img/develop-nav-prev.png);
            }
            .swiper-button-prev{
                left: auto;
                right: 0px;
                background-image: url(../img/develop-nav-next.png);
            }
            .swiper-button-disabled{
                opacity: 0.6;
            }
        }
        
        @at-root .develop-content{
            padding-bottom: 1px;
            ul{
                li{
                    display: none;
                    &.active{
                        display: block;
                    }
                    .desc{
                        margin: 60px 110px 80px;
                        border-left:3px solid $mainColor;
                        padding-left: 33px;
                        line-height: 2.2;
                    }
                }
            }
        }
    }
}


/**首页 end**/

.common-banner{
    .img-box{
        @include bgCover();
        min-height: 240px;
        position: relative;
        .big-title1{
            line-height: 1;
            font-weight: bold;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%,-50%);
            .name{
                position: relative;
                &:after{
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: -30px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 32px;
                    border-bottom: 2px solid #fff;
                    
                }
            }  
        }
        .big-title2{
            line-height: 1;
            font-weight: bold;
            position: absolute;
            top: 30%;
            left: 0px;
            right: 0px;
            transform: translateY(-50%);
            .name{
                font-weight: 300;
                line-height: 1.4;
                position: relative;
                width: 1024px;
                margin: 0 auto;;
                &:after{
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: -30px;
                    left:0px;
                    width: 40px;
                    border-bottom: 3px solid #fff;
                }
            }
            
        }
        .contain{
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            background-color: rgba(0,0,0,0.7);
            height: 38px;
            .main-width{
                height: 100%;
                ul{
                    height: 100%;
                    display: flex;
                    li{
                        flex-grow: 1;
                        height: 100%;
                        &.active,&:hover{
                            a{
                                color: $mainColor;
                            }
                        }
                        a{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 100%;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}


/**2.1 公司介绍-公司 start**/
.introduce-company{
    .content{
        .main-width{
            padding: 60px 88px;
            .big-title{
                position: relative;
                margin-bottom: 40px;
                &:after{
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: -30px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 32px;
                    border-bottom: 2px solid $mainColor;
                }
            }
            .article{
                *{
                    color: #666;
                }
            }
        }
    }
}
/**2.1 公司介绍-公司 end**/




/**2.2 公司介绍-团队 start**/
.introduce-team{
    .team{
        .main-width{
            padding: 60px 88px;
            .head{
                height: 335px;
                display: flex;
                box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
                margin-bottom: 70px;
                .left{
                    position: relative;
                    min-width: 350px;
                    height: 100%;
                    &:after{
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0px;
                        bottom: 0px;
                        right: 0px;
                        width: 20px;
                        background-image: url(../img/introduce-team-head-bar.png);
                        background-position:100% center;
                        background-repeat: no-repeat;
                        background-size: 100% 100%;
                    }
                    .img-box{
                        height: 100%;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 100% 100%;
                    }
                }
                .right{
                    padding: 30px 45px;
                    .name{
                        display: flex;
                        align-items: flex-end;
                        .cn1{
                            
                        }
                        .cn2{
                            width: 21px;
                            height: 30px;
                            margin: 0px 50px;
                        }
                        .cn3{
                            
                        }
                    }
                    .content{
                        &,*{
                            color: #666;
                        }
                        margin-top: 35px;
                        line-height: 2;
                        height: 200px;
                        padding-right: 20px !important;
                        overflow: hidden;
                    }
                }
                .zl-scrollBar{
                    background-color: $mainColor;
                }
            }
            .our-team{
                .big-title {
                    position: relative;
                    margin-bottom: 70px;
                    &:after{
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: -30px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 32px;
                        border-bottom: 2px solid $mainColor;
                    }
                }
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    padding-bottom: 1px;
                    li{
                        width: 445px;
                        margin-bottom: 40px;
                        a{
                            display: flex;
                            height: 292px;
                            .left{
                                min-width: 220px;
                                height: 100%;
                                .img-box{
                                    height: 100%;
                                    @include bgCover();
                                }
                            }
                            .right{
                                padding: 20px 0px 20px 20px;
                                .name{
                                    line-height: 1;
                                }
                                .job{
                                    margin: 10px 0px 30px;
                                }
                                .desc{
                                    *{
                                        color: #666 !important;
                                        display: inline !important;
                                    }
                                    line-height:1.8;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/**2.2 公司介绍-团队 end**/



/**2.3 公司介绍-发展历程 start**/
.introduce-develop{
    .develop{
        .box{
            padding: 70px 88px;
        }
    }
}
/**2.3 公司介绍-发展历程 end**/




/**3.1 项目介绍-项目简介 start**/
.introduce-brief{
    .content{
        .box{
            padding: 60px 88px;
        }
    }
}
/**3.1 项目介绍-项目简介 end**/



/**3.2 项目介绍-索道系统 start**/
.introduce-cableway{
    .content{
        .box{
            padding: 60px 88px;
        }
    }
}
/**3.2 项目介绍-索道系统 end**/




/**3.3 项目介绍-轨道系统 start**/
.introduce-track{
    .content{
        .box{
            padding: 60px 88px;
        }
    }
}
/**3.3 项目介绍-轨道系统 end**/



/**4 新闻资讯 start**/
.introduce-news-info{
    .content{
        .box{
            padding: 60px 88px;
            ul{
                display: flex;
                flex-wrap: wrap;
                margin: 0px -23px -40px;
                li{
                    width: 310px;
                    box-sizing: border-box;
                    margin-left: 23px;
                    margin-right: 23px;
                    margin-bottom: 40px;
                    border: 1px solid #ccc;
                    a{
                        display: block;
                        .img-box{
                            padding-top: 73.22%;
                            @include bgCover();
                        }
                        .info{
                            padding:16px 20px;
                            .title{
                                line-height: 1.8;
                                min-height: 56px;
                            }
                            .time{
                                margin-top:15px;
                            }
                        }
                    }
                }
            }
        }
    }
}
/**4 新闻资讯 end**/




/**4.2 新闻详情页 start**/
.introduce-news-details{
    .content{
        .box{
            padding: 0px 88px;
            .head{
                padding: 50px 0px;
                .big-title{
                    line-height: 1.8;
                }
                .time{
                    margin-top: 5px;
                }
            }
            .article{
                padding: 40px 0px 60px;
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                img{
                    max-width: 100%;
                }
            }
            .prev-next{
                display: flex;
                justify-content: space-between;
                line-height: 1.6;
                padding: 30px 0px 80px;
                .left{
                    display: flex;
                    flex-direction: column;
                    a{
                        display: flex;
                        *{
                            display: inline;
                        }
                        .tip{
                            min-width: 56px;
                        }
                    }
                    .prev{
                        margin-bottom: 8px;
                    }
                }
                .right{
                    min-width: 130px;
                    text-align: right;
                    a{
                        *{
                            display: inline;
                        }
                    }
                }
            }
        }
    }
}
/**4.2 新闻详情页 end**/



/**4.3 公司周刊 start**/
.introduce-week-info{
    .content{
        .box{
            padding: 60px 88px;
            ul{
                display: flex;
                flex-wrap: wrap;
                margin: 0px -25px -50px;
                li{
                    width: 218px;
                    box-sizing: border-box;
                    margin-left: 25px;
                    margin-right: 25px;
                    margin-bottom: 35px;
                    a{
                        display: block;
                        .img-box{
                            padding-top: 142.2%;
                            @include bgCover();
                        }
                        .info{
                            padding:10px 5px;
                            text-align: center;
                            .title{
                                line-height: 1.8;
                                font-weight: bold;
                            }
                            .time{
                                margin-top:4px;
                            }
                        }
                    }
                }
            }
        }
    }
}
/**4.3 公司周刊 end**/




/**5 加入我们 start**/
.join-us{
    .content{
        .box{
            padding: 0px 88px 80px;
            .head-contain{
                line-height: 2;
                padding: 50px 0px;
            }
            ul{
                li{
                    margin-bottom: 2px;
                    &.active{
                        border-bottom: 1px solid $mainColor;
                        .head{
                            background-color: $mainColor;
                            .title,.time{
                                color: #fff;
                            }
                            .ico{
                                background-color: #58310f;
                                background-image: url(../img/join-us-reduce.png);
                            }
                        }
                        .contain{
                            /*height: auto;
                            overflow: visible;*/
                        }
                    }
                    .head{
                        cursor: pointer;
                        background-color: #e6e6e6;
                        height: 50px;
                        padding-left: 40px;
                        padding-right: 50px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        position: relative;
                        -ms-user-select: none;
                        -moz-user-select: none;
                        -webkit-user-select: none;
                        &,*{
                            transition: all 0.2s;
                        }
                        .title{
                            color: #666;
                        }
                        .time{
                            margin-right: 40px;
                        }
                        .ico{
                            background-color: #ccc;
                            background-image: url(../img/join-us-plus.png);
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 20px;
                            width: 50px;
                            height: 100%;
                            position: absolute;
                            top: 0px;
                            bottom: 0px;
                            right: 0px;
                        }
                    }
                    .contain{
                        /*transition: all 0.5s;
                        height: 0px;
                        overflow: hidden;*/
                       display: none;
                        .contain-box{
                            line-height: 2.2;
                            padding: 50px;
                            border: 1px solid #dbdbdb;
                            *{
                                color: #666 !important;
                                font-size: 14 !important;
                            }
                            .submit{
                                color: #fff !important;
                                width: 150px;
                                line-height: 40px;
                                text-align: center;
                                background-color: #1cb7c9;
                                cursor: pointer;
                                margin-top: 45px;
                            }
                        } 
                    }
                }
            }
        }
    }
}

/**5 加入我们 end**/



/**6 联系我们 start**/
.contact-us{
    .wrap-map{
        .baidu-map{
            height: 400px;
        }
        .address{
            .address-box{
                padding: 30px 88px 80px;
                *{
                    color: #666;
                }
                .map-list{
                    line-height: 1.6;
                    margin-bottom: 10px;
                }
            }
        }
    }
}
/**6 联系我们 end**/




/** start**/
.video-layer{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 99999999;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
    &.active{
        opacity: 1;
        visibility: visible;
    }
    .close{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
    .box{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 99;
        background-color: #000;
        .content{
            position: relative;
            z-index: 99;
            width: 800px;
            height: 600px;
            >*{
                width: 100%;
                height: 100%;
            }
        }
        .close-tip{
            border-top: 1px solid #fff;
            padding: 10px;
            cursor: pointer;
            line-height: 1;
        }
    }
}
/** end**/