/*
* @Author: cs5
* @Date:   2018-04-12 13:30:23
* @Last Modified by:   cs5
* @Last Modified time: 2018-04-12 16:30:11
*/
@charset "utf-8";
/*
 * scss函数设置
 */

/*  */
/*高度与行高设置*/
@mixin lh($h){
    height: $h;
    line-height: $h;
}

/*宽度与高度设置*/
@mixin wh($wh){
    width: $wh;
    height: $wh;
}

/**10像素到200像素的字体,用法:fz20 **/
@for $i from 10 through 200 {
  .fz#{$i} { font-size: $i+px; }
}

/*背景图片设置*/
@mixin bgCover(){
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
@mixin bgContain(){
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

