@charset "utf-8";
@import 'variable.scss';
@import 'mixin.scss';
/*注意： @import url('common.css');这种是写是属于css的，在scss中编译过程将找不到文件*/

body{
    margin: 0 auto;
    background-color: #fff;
}
.article{
    img{
        max-width: 100%;
        width: auto !important;
        height: auto !important;
    }
    span{
        display: inline;
    }
}
.header{
    $h:128px;
    height: $h;
    .contain{
        /*position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999999;*/
        background-color: #fff;
        height: $h;
        box-shadow: 0px 0px 1px rgba(0,0,0,0.1);
        .box{
            height: 100%;
            width: 100%;
            margin: 0px auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 50px;
            .logo{
                display: block;
                img{
                    width: 250px;
                    height: 60px;
                }
            }
            .nav{
                ul{
                    display: flex;
                    margin-right: -28px;
                    li{
                        a{
                            padding: 10px 28px;
                            word-spacing: 3px;
                            letter-spacing: 3px;
                        }
                    }
                }
            }
            .ico-menu{
                display: none;
            }
        }
    }
}

.footer{
    border-top: 1px solid #e8e8e8;
    .box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 80px;
        padding: 10px 50px;
        .copy-right{
            letter-spacing: 3px;
            word-spacing: 3px;
        }
        .share{
            margin-right: -6px;
            ul{
                display: flex;
                li{
                    margin-left: 5px;
                    a{
                        padding: 6px;
                        display: block;
                        img{
                            @include wh(16px);
                        }
                    }
                }
            }
        }
    }
}






/**1-Home  start**/
.home{
    .wrap-swiper{
        padding-top: 50%;
        position: relative;
        .box{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            .swiper-container{
                height: 100%;
                .swiper-wrapper{
                    .swiper-slide{
                        .img-box{
                            height: 100%;
                            display: block;
                            @include bgCover();
                        }
                    }
                }
                .swiper-pagination{
                    .swiper-pagination-bullet{
                        background-color: #fff;
                    }
                }
            }
        }
    }
    .instagram{
        padding-bottom: 100px;
        .big-title {
            padding: 60px 0px 30px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            font-weight: bold;
            line-height: 1;
            img{
                @include wh(30px);
            }
            *{
                margin: 0px 8px;
            }
        }
        .instagram-swiper{
            padding: 0px 90px;
            position: relative;
            .swiper-container{
                .swiper-wrapper{
                    .swiper-slide{
                        .img-box{
                            display: block;
                            padding-top: 100%;
                            cursor: pointer;
                            @include bgCover();
                        }
                    }
                }
            }
            .swiper-pagination{
                display: none;
            }
            .swiper-button-next,.swiper-button-prev{
                @include wh(50px);
                @include bgCover();
                opacity: 0.3;
            }
            .swiper-button-next:hover,.swiper-button-prev:hover{
                opacity: 1;
            }
            .swiper-button-prev{
                left: 20px;
                background-image: url(../img/instagram-prev.png);
            }
            .swiper-button-next{
                right: 20px;
                background-image: url(../img/instagram-next.png);
            }
        }
    }
    @at-root.insta-layer{
        position: relative;
        .close-down{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
        }
        .layer-box {
            @at-root.inslay-main{
                .padding-top{
                    padding-top: 1%;
                }
                .margin-btm{
                    margin-bottom: 5%;
                }
                .margin-top{
                    margin-top: 5%;
                }
                @at-root.inslay-right{
                    .title-h2{
                        display: flex;
                        line-height: 1.5;
                        .num{
                            display: inline-block;
                            width: 20px;
                            min-width: 20px;
                            height: 20px;
                            min-height: 20px;
                            line-height: 20px;
                            text-align: center;
                            background-color: #000;
                            color: #fff;
                            border-radius: 100%;
                            margin-right: 10px;
                        }
                    }
                    .want{
                        font-style: italic;
                        line-height: 2;
                    }
                    .explain{
                        color: #666;
                        margin: 8% 0;
                    }
                    @at-root.inslay-ico{
                        display: flex;
                        align-items: center;
                        a{
                            display: inline-block;
                            @include wh(26px);
                            background-color: #000;
                            border-radius: 100%;
                            margin-right: 22px;
                            position: relative;
                            *{
                                display: block;
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                padding-top: 100%;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: cover;
                            }
                        }
                    }
                }
            }
        }
    }
}
/**1-Home  end**/




/**2-About  start**/
.about{
    .intro{
        .box{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row-reverse;
            padding: 80px;
            .left{
                width: 48%;
                img{
                    width: 100%;
                    max-width: 100%;
                }
            }
            .right{
                width: 52%;
                padding-top: 0px;
                padding-bottom: 0px;
                padding-right: 80px;
                .article{
                    line-height: 1.8;
                    *{
                        color: #333;
                    }
                }
            }
        }
    }
}
/**2-About  end**/



/**3-Collection  start**/
.collection{
    .product{
        .box{
            ul{
                display: flex;
                flex-wrap: wrap;
                li{
                    padding: 10px;
                    margin-bottom: 20px;
                    a{
                        display: block;
                        &:hover{
                            .img-box{
                                .img1{
                                    opacity: 0;
                                    visibility: hidden;
                                }
                                .img2{
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }
                        }
                        .img-box{
                            position: relative;
                            padding-top: 66.77%;
                            .img1,.img2{
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                /*transition: all 0.3s;*/
                                @include bgCover();
                            }
                            .img1{
                                opacity: 1;
                                visibility: visible;
                            }
                            .img2{
                                opacity: 0;
                                visibility: hidden;
                            }
                        }
                        .info{
                            padding: 10px 0px;
                            font-size: 14px;
                            color: #333;
                        }
                    }
                }
            }
        }
    }
    .wrap-page{
        margin-bottom: 100px;
        margin-top: 50px;
        .box{
            ul{
                font-size: 14px;
                display: flex;
                justify-content: center;
                align-items: center;
                li{
                    display: inline-block;
                    a{
                        display: block;
                        padding: 5px;
                    }
                }
                .prev,.next{
                    a{
                        @include wh(30px);
                        background-size: 12px;
                        background-position: center;
                        background-repeat: no-repeat;
                        margin: 0px 10px;
                    }
                }
                .prev{
                    a{
                        background-image: url(../img/ico-clothing-page-prev.png);
                    }
                }
                .next{
                    a{
                        background-image: url(../img/ico-clothing-page-next.png);
                    }
                }
            }
        }
    }
}
/**3-Collection  end**/



/**4-Contact  start**/
.contact{
    .content{
        .box{
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            padding-left: 80px;
            padding-right: 80px;
            padding-bottom: 100px;
            .map{
                width: 48%;
                img{
                    width: 100%;
                    max-width: 100%;
                }
            }   
            .info{
                width: 52%;
                padding-right: 80px;
                padding-top: 60px;
                .sweetpot{
                    font-size: 22px;
                    margin-bottom: 30px;
                }
                .desc{
                    line-height: 1.8;
                    font-size: 14px;
                }
                .tip{
                    margin-top: 80px;
                    margin-bottom: 20px;
                }
                .form{
                    ul{
                        li{
                            max-width: 500px;
                            margin-bottom: 20px;
                            input,textarea{
                                border: 1px solid #ccc;
                                padding: 12px 15px;
                                line-height: 1;
                                font-size: 14px;
                                width: 100%;
                                min-width: 100%;
                                max-width: 100%;
                                &::-webkit-input-placeholder{
                                    color: #666;
                                    font-family: Humanst521 Lt Bt;
                                }
                            }
                        }
                    }
                }
                .btn{
                    margin-top: 35px;
                    width: 140px;
                    line-height: 45px;
                    text-align: center;
                    background-color: #000;
                    color: #fff;
                }
            }
        }
    }
}
/**4-Contact  end**/



/**  start**/

/**  end**/



/**  start**/

/**  end**/



/**  start**/

/**  end**/






@media (min-width:0px) {
    
}
@media (min-width:768px) {
    .insta-layer{
        &.active {
            opacity: 1;
            visibility: visible;
        }
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        z-index: 9999999;
        transition: all 0.3s;
        padding: 50px;
        .layer-box {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.3s;
            width: 100%;
            max-width: 900px;
            z-index: 88;
            @at-root.inslay-close{
                position: absolute;
                right: 0px;
                top: -35px;
                cursor: pointer;
                width: 25px;
                height: 25px;
                background-image: url(../img/ico-clothing-layer-close.png);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
            @at-root.inslay-main{
                max-height: 620px;
                overflow: auto;
                background-color: #fff;
                padding: 30px;
                .padding-top{
                    padding-top: 1%;
                }
                .margin-btm{
                    margin-bottom: 5%;
                }
                .margin-top{
                    margin-top: 5%;
                }
                @at-root.inslay-left{
                    width: 38%;
                    float: left;
                    .img-box{
                        overflow: hidden;
                        img{
                            width: 100%;
                        }
                    }
                }
                @at-root.inslay-right{
                    width: 62%;
                    float: left;
                    padding-left: 30px;
                }
            }
        }
    }
}
@media (min-width:992px) {
    
}
@media (min-width:1200px) {
    
}
@media (min-width:1440px) {
    
}




@media screen and (min-width:991px) and (max-width:1199px){
    
}



@media screen and (min-width:0px) and (max-width:1199px) {
    .hide1199{
        display: none !important;
    }
    .contact{
        .content{
            .box{
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: 50px;
                .info{
                    padding-top: 20px;
                    padding-right: 20px;
                    .form{
                        ul{
                            li{
                                max-width: 100%;
                            }
                         }
                    }
                    .btn{
                        width: 100%;
                    }
                }
            }
        }
    }
}


@media screen and (min-width:0px) and (max-width:991px){
    .header{
        $h:44px;
        height: $h;
        .contain{
            height: $h;
            .box{
                padding: 0px 15px;
                &.active{
                    .nav{
                        visibility: visible;
                        opacity: 1;
                    }
                    .ico-menu{
                        background-image: url(../img/header-close.png);
                    }
                }
                .logo{
                    img{
                       width: 125px;
                       height: 30px; 
                    }
                }
                .nav{
                    visibility: hidden;
                    opacity: 0;
                    transition: all 0.3s;
                    position: fixed;
                    top: $h;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    z-index: 999999;
                    background-color: #fff;
                    border-top: 1px solid #eee;
                    ul{
                        flex-direction: column;
                        justify-content: center;
                        margin-top: 15px;
                        li{
                            a{
                                display: block;
                                text-align: center;
                                font-size: 16px;
                            }
                        }
                    }
                }
                .ico-menu{
                    cursor: pointer;
                    display: block;
                    background-image: url(../img/header-meun.png);
                    @include bgCover();
                    @include wh(25px);
                }
            }
        }
    }
    .footer{
        .box{
            padding: 0px 15px;
            min-height: 50px;
        }
    }
    .home{
        .instagram{
            .big-title{
                font-size: 26px;
            }
        }
    }
    .about{
        .intro{
            .box{
                padding: 50px;
                .left{
                    width: 100%;
                }
                .right{
                    width: 100%;
                    padding-right: 0px;
                    margin-top: 50px;
                }
            }
        }
    }
    .collection{
        .product{
            .box{
                ul{
                    padding: 5px;
                    li{
                        padding: 5px;
                        margin-bottom: 5px;
                    }
                }
            }
        }
        .wrap-page{
            margin-bottom: 50px;
            margin-top: 20px;
        }
    }
    .contact{
        .content{
            .box{
                padding-left: 0px;
                padding-right: 0px;
                padding-bottom: 50px;
                .map{
                    width: 100%;
                }   
                .info{
                    width: 100%;
                    padding-right: 20px;
                    padding-left: 20px;
                    padding-top: 30px;
                    .sweetpot{
                        font-size: 22px;
                        margin-bottom: 20px;
                    }
                    .tip{
                        margin-top: 50px;
                        margin-bottom: 15px;
                    }
                    .form{
                        ul{
                            li{
                                margin-bottom: 20px;
                            }
                        }
                    }
                    .btn{
                        margin-top: 35px;
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:0px) and (max-width:767px){
    .footer{
        border-top: 1px solid #e8e8e8;
        .box{
            justify-content: center;
            flex-direction: column;
            .copy-right{
                margin-top: 8px;
            }
        }
    }
    .home{
        .instagram{
            padding-bottom: 60px;
            .big-title{
                font-size: 18px;
                padding: 30px 15px 30px;
                img{
                    @include wh(18px);
                }
                *{
                    margin: 5px 5px;
                }
            }
            .instagram-swiper{
                padding: 0px 40px;
                .swiper-pagination{
                    display: block;
                    bottom: -30px;
                    font-size: 12px;
                }
                .swiper-button-next,.swiper-button-prev{
                    @include wh(20px);
                }
                .swiper-button-prev{
                    left: 10px;
                }
                .swiper-button-next{
                    right: 10px;
                }
            }
        }
    }
    .insta-layer {
        &.active{
            visibility: visible;
            transform: translateY(0%);
        }
        position:fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        visibility: hidden;
        transform: translateY(100%);
        transition: all 0.38s;
        z-index: 99999999;
        .layer-box {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            transform: translate(0);
            padding: 0 0 46px;
            z-index: 88;
            .inslay-close {
                position: absolute;
                top: auto;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: #fff;
                box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
                height: 46px;
                width: 100%;
                background-image: url(../img/ico-close-black.png);
                background-size: 30px;
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer;
            }
            @at-root.inslay-main{
                height: 100%;
                overflow: auto;
                padding: 20px;
                .inslay-left{
                    .img-box{
                        img{
                            width: 100%;
                        }
                    }
                    margin-bottom:10px;
                }
                .inslay-right{
                    padding-bottom: 20px;
                }
            }
        }
    }
    .about{
        .intro{
            .box{
                padding: 15px;
                .left{
                    width: 100%;
                }
                .right{
                    width: 100%;
                    padding-right: 0px;
                    margin-top: 20px;
                }
            }
        }
    }
}