@charset "utf-8";
@import 'variable.scss';
@import 'mixin.scss';
/*注意： @import url('common.css');这种是写是属于css的，在scss中编译过程将找不到文件*/

html,body{
    height: 100%;
}
body{
    background-color: #d80414;
}
.fp-tableCell{
    display: block !important;
}
/** start**/

/** end**/



/**下一页 start**/
.page-next{
    width: 1.2rem;
    height: 1.2rem;
    background-image:url(../img/next.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0.5rem 0.5rem;
    position: fixed;
    bottom: 0rem;
    right: 0rem;
    z-index: 9999999;
    animation: flicker 1.5s infinite;
}
@keyframes flicker{
    0%,100%{
        opacity: 0;
        transform:translateY(-0.2rem);
    }
    50%  {
        opacity: 1;
        transform:translateY(0rem);
    }
}
/**下一页  end**/
    
    

/** start**/
.home{
    .margin-top{
        margin-top: 0.5rem;
    }
    .margin-btm{
        margin-bottom: 0.5rem;
    }
    .section{
        position: relative;
        .box>*{
            font-size: 0px;
        }
        img{
            width: 100%;
        }
    }
    .common1{
        padding: 0.4rem 0rem 0.3rem;
    }
    .join-btn{        
        a{
            display: block;
            width: 3rem;
            height: 0.9rem;
            margin:0rem auto;
            background-image: url(../img/join.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}

/** end**/

/** start**/
.page1{
    &.active{
        .box>*{
            animation-name: scale;
            animation-duration: 1s;
            animation-fill-mode: both;
        }
        .logo{
            animation-delay: 0s;
        }
        .info{
            animation-delay: 0.3s;
        }
    }
    .box{
        .logo{
            padding: 1.6rem 0rem;
        }
    }
}
@keyframes scale{
    0%{
        opacity: 0;
        transform:scale(0);
    }
    /*60%{
        opacity: 0.8;
        transform:scale(1.2);
    }*/
    100%  {
        opacity: 1;
        transform:scale(1);
    }
}
/** end**/

/** start**/

.page2{
    &.active{
        .box>*{
            animation-name: zoomIn;
            animation-duration: 1s;
            animation-fill-mode: both;
        }
        .common1{
            animation-delay: 0s;
        }
        .common2{
            animation-delay: 0.3s;
        }
        .word1{
            animation-delay: 0.6s;
        }
        .word2{
            animation-delay: 0.9s;
        }
        .join-btn{
            animation-delay: 1.2s;
        }
    }
}
/** end**/



/** start**/
.page3{
    &.active{
        .box>*{
            animation-name: zoomIn;
            animation-duration: 1.5s;
            animation-fill-mode: both;
        }
        .common1{
            animation-delay: 0s;
        }
        .common2{
            animation-delay: 0.3s;
        }
        .word1{
            animation-delay: 0.6s;
        }
        .word2{
            animation-delay: 0.9s;
        }
        .join-btn{
            animation-delay: 1.2s;
        }
    }
}
/** end**/


/** start**/
.page4{
    &.active{
        .box>*{
            animation-name: zoomIn;
            animation-duration: 1s;
            animation-fill-mode: both;
        }
        .common1{
            animation-delay: 0s;
        }
        .common2{
            animation-delay: 0.3s;
        }
        .word1{
            animation-delay: 0.6s;
        }
        .word2{
            animation-delay: 0.9s;
        }
        .join-btn{
            animation-delay: 1.2s;
        }
    }
}
/** end**/



/** start**/
.page5{
    &.active{
        .box>*{
            animation-name: zoomIn;
            animation-duration: 1s;
            animation-fill-mode: both;
        }
        .common1{
            animation-delay: 0s;
        }
        .common2{
            animation-delay: 0.3s;
        }
        .word1{
            animation-delay: 0.6s;
        }
        .word2{
            animation-delay: 0.9s;
        }
        .join-btn{
            animation-delay: 1.2s;
        }
    }
}
/** end**/


/** start**/
.page6{
    &.active{
        .box>*{
            animation-name: zoomIn;
            animation-duration: 1.5s;
            animation-fill-mode: both;
        }
        .common1{
            animation-delay: 0s;
        }
        .common2{
            animation-delay: 0.3s;
        }
        .word1{
            animation-delay: 0.6s;
        }
        .word2{
            animation-delay: 0.9s;
        }
        .join-btn{
            animation-delay: 1.2s;
        }
    }
}
/** end**/



/** start**/
.page7{
    &.active{
        .box>*{
            animation-name: fadeInUp;
            animation-duration: 1s;
            animation-fill-mode: both;
        }
        .common1{
            animation-delay: 0s;
        }
        .common2{
            animation-delay: 0.4s;
        }
        .word1{
            animation-delay: 0.8s;
        }
        .word2{
            animation-delay: 1.2s;
        }
    }
    .common2{
        margin-top: 1.2rem;
        margin-bottom: 1.0rem;
    }
    .word1{
        text-align: center;
        img{
            width: 2.3rem;
            height: 2.3rem;
        }
    }
    .word2{
        padding: 0.2rem;
    }
}
/** end**/


/** start**/

/** end**/



/** start**/

/** end**/


/** start**/

/** end**/

