@charset "utf-8";

/*调用css样式
@import url('swiper.min.css');
*/

/*调用scss样式、函数、变量*/
@import 'variable.scss';
@import 'mixin.scss';

*{
    -webkit-overflow-scrolling: touch;/*解决苹果浏览器滑动卡的问题 , 启用了硬件加速特性 , 所以滑动很流畅 */
}
html,body{
	height: 100%;
}
select{
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    outline: none;
}
img{
    vertical-align: top;
}
input{
    line-height: 1;
    width: 100%;
}
input,textarea{
    &::-webkit-input-placeholder{
        color: #aaa;
    }
}
textarea{
    vertical-align: top;
    line-height:1.8;
    min-height: 150px;
    width:100%;
    max-width: 100%;
    min-width: 100%;
    font-family: "微软雅黑", "宋体",Arial, -apple-system;
}


table {
    width: 100% !important;
    max-width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse!important;
    background-color: transparent;
    border-spacing: 0;
}

table * {
    text-align: center;
}

table thead tr th,
table tbody tr td {
    padding: 12px;
    font-size: 13px;
    border-bottom: 1px solid #ccc;
}

table thead tr th {
    background-color: #dedede;
}

table tbody tr td {
    border-right: 1px solid #ccc;
}


.main-width{
	max-width: $mainWidth;
	margin: 0 auto;
}
.main-color{
	color:$mainColor !important;
}
.sub-color{
    color: $subColor !important;
}
.main-bg{
	background-color: $mainColor !important;
}
.sub-bg{
    background-color: $subColor !important;
}

.fc-666{
    color: #666;
}
.fc-ccc{
    color: #ccc;
}
.fc-999{
    color: #999;
}
.fc-fff{
    color: #fff;
}
.bg-fff{
    background-color: #fff !important;
}
.no-select,.btn{
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.btn{
    cursor: pointer;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.hide{
    display: none !important;
}
.show{
    display: block !important;
}
.no-weight{
    font-weight: normal;
}
.ellipsis1{
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}
@for $i from 2 through 10 {
    .ellipsis#{$i}{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: $i;
        -webkit-box-orient: vertical;
    }
}



.input-radio1,.input-radio2,.input-radio3,.input-checkbox1,.input-checkbox2,.input-checkbox3{
    display: inline-block;
}
.input-radio1 *,.input-radio2 *,.input-radio3 *,.input-checkbox1 *,.input-checkbox2 *,.input-checkbox3 *{
    cursor: pointer;
}
.input-radio1 label,.input-radio2 label,.input-radio3 label,.input-checkbox1 label,.input-checkbox2 label,.input-checkbox3 label{
    padding-left: 30px;
    position: relative;
    display: flex;
    align-items: flex-start;
}
.input-radio1 input[type="radio"]+label::before ,.input-checkbox1 input[type="checkbox"]+label::before{
    content: "";
    width: 12px;
    height: 12px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.input-radio1 input[type="radio"]:checked+label::before ,.input-checkbox1 input[type="checkbox"]:checked+label::before{
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB0PSIxNTI1NDAzMjE1Mzk4IiBjbGFzcz0iaWNvbiIgc3R5bGU9IiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjIwNzYiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzAiIGhlaWdodD0iMzAiPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PC9zdHlsZT48L2RlZnM+PHBhdGggZD0iTTYzLjIyMjkyNyA1MTJjMCAwIDIzMS43Njc1OTggMTg5LjU4NDg2OSAyNTQuNzkwOTY0IDM1MC44MjMxMzQgMCAwIDMwMy45MDY1OTEtNDk3LjQ5MTU2NSA2NDEuNTgxMjY0LTU0Mi4wMDMzMzggMCAwLTEwMi44MzcxNTYtNzQuOTQzODc2LTY5LjA3MDA5OC0xOTMuMzk1NjYyIDAgMC0xODcuMjU1ODI1IDE4LjY4NDU0OC01NDAuMjc5MDY3IDU2Ni42MzczODhMMTg0Ljc5Mzc1IDQxMy4yMTIwNjYgNjMuMjIyOTI3IDUxMnoiIHAtaWQ9IjIwNzciIGZpbGw9IiMwMDAwMDAiPjwvcGF0aD48L3N2Zz4=);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    border: 1px solid #000;
}



.input-radio2 input[type="radio"]+label::before ,.input-checkbox2 input[type="checkbox"]+label::before {
    content: "";
    width: 12px;
    height: 12px;
    display: inline-block;
    border: 1px solid #ccc;
    position: absolute;
    top: 0;
    left: 0;
}

.input-radio2 input[type="radio"]:checked+label::before ,.input-checkbox2 input[type="checkbox"]:checked+label::before{
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB0PSIxNTI1NDAzMjE1Mzk4IiBjbGFzcz0iaWNvbiIgc3R5bGU9IiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjIwNzYiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzAiIGhlaWdodD0iMzAiPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PC9zdHlsZT48L2RlZnM+PHBhdGggZD0iTTYzLjIyMjkyNyA1MTJjMCAwIDIzMS43Njc1OTggMTg5LjU4NDg2OSAyNTQuNzkwOTY0IDM1MC44MjMxMzQgMCAwIDMwMy45MDY1OTEtNDk3LjQ5MTU2NSA2NDEuNTgxMjY0LTU0Mi4wMDMzMzggMCAwLTEwMi44MzcxNTYtNzQuOTQzODc2LTY5LjA3MDA5OC0xOTMuMzk1NjYyIDAgMC0xODcuMjU1ODI1IDE4LjY4NDU0OC01NDAuMjc5MDY3IDU2Ni42MzczODhMMTg0Ljc5Mzc1IDQxMy4yMTIwNjYgNjMuMjIyOTI3IDUxMnoiIHAtaWQ9IjIwNzciIGZpbGw9IiMwMDAwMDAiPjwvcGF0aD48L3N2Zz4=);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    border: 1px solid #000;
}



.input-radio3 input[type="radio"]+label::before,.input-checkbox3 input[type="checkbox"]+label::before{
    content: "";
    width: 12px;
    height: 12px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 100%;
    position: absolute;
    top: auto;
    left: 0;
}
.input-radio3 input[type="radio"]:checked+label::before,.input-checkbox3 input[type="checkbox"]:checked+label::before{
    border: 1px solid #000;
}
.input-radio3 input[type="radio"]:checked+label::after,.input-checkbox3 input[type="checkbox"]:checked+label::after{
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #000;
    position: absolute;
    top: auto;
    left: 0;
    margin-top: 3px;
    margin-left: 3px;
}

.input-checkbox2 input[type="checkbox"],.input-checkbox1 input[type="checkbox"],.input-checkbox3 input[type="checkbox"] ,
.input-radio1 input[type="radio"] ,.input-radio2 input[type="radio"],.input-radio3 input[type="radio"]{
    clip: rect(0, 0, 0, 0);
    position: absolute;
}



.nice-scroll::-webkit-scrollbar { 
    width: 6px; 
    height: 5px; 
    background-color: transparent; 
}

/*定义滚动条轨道 内阴影+圆角*/
.nice-scroll::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: transparent;
}

/*定义滑块 内阴影+圆角*/
.nice-scroll::-webkit-scrollbar-thumb {
    border-radius: 0px; 
    background-color: rgba(0, 0, 0, 0.5); 
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .5); 
}





