/*
* @Author: cs5
* @Date:   2018-04-12 13:30:23
* @Last Modified by:   cs5
* @Last Modified time: 2018-04-12 16:30:11
*/
@charset "utf-8";
/*
 * scss变量设置
 */

/*  */
/*主色*/
$mainColor:#343a3d;
$subColor:#abd33b;

/* 字体 */
$fontFamily1:Times New Roman;
$fontFamily2:Arial;
/* 最大宽度 */
$mainWidth:1200px;



