@charset "utf-8";
@import 'variable.scss';
@import 'mixin.scss';
/*注意： @import url('common.css');这种是写是属于css的，在scss中编译过程将找不到文件*/
html,body{
    height: 100%;
}

/** footer底部导航 start**/
.footer{
    $h:1rem;
    height: $h;
    .box{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        z-index: 999999;
        height: $h;
        ul{
            height: 100%;
            display: flex;
            li{
                width: 25%;
                height: 100%;
                &.active{
                    a{
                        .img1{
                            display: block;
                        }
                        .img2{
                            display: none;
                        }
                        p{
                            color: #320a5b;
                        }
                    }
                }
                a{
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 0.5rem;
                        height: 0.5rem;
                    }
                    .img1{
                        display: none;
                    }
                    .img2{
                        display: block;
                    }
                    p{
                        color: #8566a5;
                    }
                }
            }
        }
    }
}  
/** footer底部导航 end**/

/** 01 推广页.htmlstart**/
.spread{
    height: 100%;
    background-position: center 0rem;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    .box{
        .theme{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
            img{
                width: 6.2rem;
            }
        }
        .city{
            padding: 0rem 0.3rem;
            .title{
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                &:before,&:after{
                    content: '';
                    display: block;
                    border-bottom: 0.02rem solid #fff;
                    width: 1.6rem;
                }
                span{
                    padding: 0rem 0.4rem;
                }
            }
            ul{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                padding: 0.4rem 0rem;
                li{
                    border-radius: 0.64rem;
                    min-width: 1.2rem;
                    padding: 0rem 0.2rem;
                    background-color: #fff;
                    background: linear-gradient(#faf5c7,#b8b8dc);
                    box-shadow: 0rem 0.06rem 0rem rgba(0,0,0,0.5);
                    margin-bottom: 0.2rem;
                    margin-left: 0.10rem;
                    margin-right: 0.10rem;
                    a{
                        display: block;
                        line-height: 0.64rem;
                        text-align: center;
                    }
                }
            }
        }
        .logo{
            display: flex;
            justify-content: center;
            align-content: center;
            padding-bottom: 0.5rem;
            img{
                width: 0.7rem;
                height: 0.7rem;
            }
        }
    }
}
/** 01 推广页.htmlend**/



/** 02 首页start**/
.home{
    @at-root .main-bgimg{
        background-image: url(../img/home-bg.jpg);
        background-repeat: repeat-y;
        background-size: 10rem 17.97rem;
        min-height: 100%;
    }
    .main-bgimg{
        background-image: url(../img/h0-page-bg.jpg) !important;
    }
    .cichoo{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.58rem 0rem;
        img{
            width: 2rem;
        }
    }
    .theme{
        text-align: center;
        img{
            width: 6.2rem;
        }
    }
    .people{
        padding: 0.4rem 0.7rem 0.6rem;
        display: flex;
        justify-content: space-between;
        .list{
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 45%;
            .title{
                margin-bottom: 0.1rem;
            }
            .num{
                width: 100%;
                line-height: 0.8rem;
                border-radius: 0.8rem;
                background-color: rgba(0,0,0,0.7);
            }
        }
    }
    .area{
        margin-bottom: 0.6rem;
        &.area-way{
            .head{
                &:before,&:after{
                    width: 1.62rem !important;
                }
            }
        }
        .box{
            padding: 0.3rem;
            background-color: rgba(0,0,0,0.7);
            line-height: 1.9;
            .head{
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                &:before,&:after{
                    content: '';
                    display: block;
                    border-bottom: 0.02rem solid #fff;
                    width: 1.92rem;
                }
                span{
                    padding: 0rem 0.4rem;
                }
            }
            .content{
                padding: 0rem 0.3rem;
                li{
                    display: flex;
                    .left{
                        white-space: nowrap;
                    }
                    .right{
                        
                    }
                }
            }
        }
    }
    @at-root .player{
        .padding-lr{
            .home-head{
                text-align: center;
                letter-spacing: 0.06rem;
                margin-bottom: 0.25rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                i{
                    color: #fff;
                    font-size: 0.18rem;
                }
                *{
                    line-height: 1;
                }
            }
            ul{
                margin:-0.1rem;
                overflow: hidden;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                li{
                    width: 50%;
                    padding: 0.1rem;
                    a{
                        position: relative;
                        display: block;
                        border-radius: 0.1rem;
                        overflow: hidden;
                        padding-top: 100%;
                        @include bgCover();
                        &:before{
                            content: '';
                            display: block;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            height: 1.2rem;
                            background: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.6));
                            z-index: 80;
                        }
                        *{
                            z-index: 90;
                        }
                        .shop{
                            z-index: 90;
                            position: absolute;
                            left: 0.15rem;
                            right: 0.15rem;
                            bottom: 0.5rem;
                        }
                        .name{
                            z-index: 90;
                            position: absolute;
                            left: 0.15rem;
                            bottom: 0.1rem;
                            line-height: 1;
                            width: 0.9rem;
                        }
                        .num{
                            z-index: 90;
                            position: absolute;
                            right: 0.15rem;
                            bottom: 0.11rem;
                            line-height: 1;
                        }
                    }
                }
            }
            .home-more{
                display: block;
                padding: 0.15rem;
                margin: 0.45rem 0rem;
            }
        }
    }
}
/** 02 首页end**/
    
    

/**03 选手区 start**/
.player-area{
    .tab{
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        .box{
            height: 0.82rem;
            border-radius: 0.82rem;
            background-color: #fff;
            display: flex;
            .list{
                cursor: pointer;
                width: 50%;
                line-height: 0.68rem;
                border: 0.07rem solid #fff;
                border-radius: 0.82rem;
                &.active{
                    background-color: $mainColor;
                    color: #fff;
                }
            }
        }
    }
    .player{
        padding-bottom: 0.6rem;
    }
    .player,.shop-name,.sp-list{
        display: none;
        &.active{
            display: block;
        }
        .padding-lr{
            .search{
                border-radius: 0.1rem;
                background-color: #fff;
                padding-left:0.3rem;
                padding-right:0.2rem;
                margin-bottom: 0.2rem;
                display: flex;
                justify-content: space-between;
                input{
                    padding: 0.2rem 0rem;
                    line-height: 1;
                    width: 100%;
                }
                .search-btn{
                    width: 0.8rem;
                    min-width: 0.8rem;
                    height: 0.8rem;
                    cursor: pointer;
                }
            }
        }
    }
    @at-root .shop-name{
        padding-bottom: 0.6rem;
        .padding-lr{
            ul{
                padding: 0rem 0.3rem;
                li{
                    border-bottom: 0.01rem solid #72617c;
                    a{
                        display: flex;
                        justify-content: space-between;
                        padding: 0.6rem 0rem;
                        .name{
                            width: 100%;
                        }
                        .num{
                            width: 1rem;
                            min-width: 1.5rem;
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
}
/**03 选手区 end**/
    
    
    
/**04 选手详情 start**/
.player-details{
    .wrap-slide{
        .slide-box{
            position: relative;
            .go-back{
                z-index: 90;
                position: absolute;
                top: 0.2rem;
                left: 0.1rem;
                width: 0.5rem;
                height: 0.5rem;
                cursor: pointer;
                background-image: url(../img/ico-back.png);
                @include bgCover();
                z-index: 880;
            }
            .people{
                position: relative;
                z-index: 80;
                &:before{
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    height: 1.2rem;
                    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.0));
                    z-index: 80;
                }
                img{
                    width: 100%;
                }
            }
        }
    }
    .info{
        padding: 0.3rem 0.2rem;
        .box{
            position: relative;
            background-color: #fff;
            border-radius: 0.1rem;
            padding: 0.3rem 1.7rem 0.3rem 0.3rem;
            display: flex;
            flex-direction: column;
            .name-phone{
                display: flex;
                align-items: flex-end;
                .name{
                    line-height: 1;
                }
                .phone{
                    line-height: 1.6;
                    margin-left: 0.2rem;
                }
            }
            .shops{
                line-height: 1.6;
                margin-top: 0.15rem;
            }
            .num{
                color: #125c84;
                position: absolute;
                right: 0.3rem;
                top: 0.58rem;
            }
        }
    }
    .recommend-him{
        padding-bottom: 0.6rem;
        .box{
            border: 0.01rem solid #fff;
            position: relative;
            margin-top: 0.34rem;
            .head{
                width: 3rem;
                height: 0.66rem;
                border-radius: 0.66rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #fff;
                position: absolute;
                top:0;
                left: 50%;
                transform: translate(-50%,-50%);
            }
            .people{
                margin-top: 0.6rem;
                display: flex;
                flex-wrap: wrap;
                padding: 0.1rem;
                li{
                    width: 25%;
                    padding: 0.1rem;
                    a{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        .img-box{
                            width: 100%;
                            padding-top: 100%;
                            @include bgCover();
                            border-radius: 100%;
                        }
                        .name{
                            padding: 0.08rem 0rem 0.1;
                        }
                    }
                }
            }
            .page{
                padding: 0.3rem 0.2rem 0.5rem;
                ul{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .prev,.next{
                        cursor: pointer;
                        width: 0.5rem;
                        height: 0.5rem;
                        @include bgCover();
                    }
                    .prev{
                        background-image: url(../img/ico-prev.png);
                    }
                    .next{
                        background-image: url(../img/ico-next.png);
                    }
                    .list{
                        &,& *{
                            color: #fff;
                        }
                        width: 0.5rem;
                        height: 0.5rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                    }
                } 
            }
        }
    }
}
/**04 选手详情 end**/
    
    

/**05 排名 start**/
.rankings{
    .tab{
        padding-top: 0.3rem;
        .box{
            height: 0.82rem;
            border-radius: 0.82rem;
            background-color: #fff;
            display: flex;
            .list{
                cursor: pointer;
                width: 50%;
                line-height: 0.68rem;
                border: 0.07rem solid #fff;
                border-radius: 0.82rem;
                &.active{
                    background-color: $mainColor;
                    color: #fff;
                }
            }
        }
    }
    .rk-list{
        display: none;
        &.active{
            display: block;
        }
    }
    .rank-player{
        .padding-lr{
            ul{
                padding: 0.25rem 0.2rem;
                li{
                    padding: 0.25rem 0rem;
                    a{
                        display: flex;
                        align-items: center;
                       .left{
                           width: 0.7rem;
                           min-width: 0.7rem;
                           height: 0.7rem;
                           display: flex;
                           justify-content: center;
                           align-items: center;
                           img{
                               width: 100%;
                           }
                       }
                       .middle{
                           width: calc(100% - 1.9rem);
                           display: flex;
                           align-items: center;
                           .img-box{
                               display: block;
                               width: 1.1rem;
                               min-width: 1.1rem;
                               height: 1.1rem;
                               border-radius: 100%;
                               @include bgCover();
                               margin: 0rem 0.3rem;
                           }
                           .info{
                               width: calc(100% - 1.6rem);
                               .rk-shop{
                                   width: 100%;
                                   word-break: break-all;
                                   word-wrap: break-word;
                               }
                           }
                       }
                       .right{
                           width: 1.3rem;
                           min-width: 1.3rem;
                           text-align: right;
                       }
                    }
                }
            }
        }
    }
    .rank-shop{
        .padding-lr{
            ul{
                padding: 0.25rem 0.2rem;
                li{
                    padding: 0.25rem 0rem;
                    border-bottom: 0.01rem solid #72617c;
                    a{
                        display: flex;
                        align-items: center;
                       .left{
                           width: 0.7rem;
                           min-width: 0.7rem;
                           height: 0.7rem;
                           display: flex;
                           justify-content: center;
                           align-items: center;
                           img{
                               width: 100%;
                           }
                       }
                       .middle{
                           width: calc(100% - 2.4rem);
                           display: flex;
                           align-items: center;
                           margin: 0rem 0.2rem;
                        }
                       .right{
                           width: 1.3rem;
                           min-width: 1.3rem;
                           text-align: right;
                       }
                    }
                }
            }
        }
    }
}
/**05 排名 end**/
    
    
    
/**06 推荐 start**/
.recommendation{
    .content{
        position: relative;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        .box{
            border: 0.01rem solid #fff;
            position: relative;
            padding: 0.7rem;
            &:before{
                $val:0.1rem;
                content: '';
                display: block;
                position: absolute;
                top: $val;
                bottom: $val;
                left: $val;
                right: $val;
                border: 0.01rem dashed #fff;
                z-index: 80;
            }
            .info{
                position: relative;
                z-index: 90;
                ul{
                    li{
                        display: flex;
                        flex-direction: column;
                        .name{
                            margin: 0.35rem 0rem 0.15rem;
                        }
                        input{
                            border: 0.01rem solid #fff;
                            line-height:1;
                            padding: 0.3rem;
                            width: 100%;
                            border-radius: 0.1rem;
                        }
                    }
                }
            }
            .photo{
                position: relative;
                z-index: 90;
                .head{
                    padding: 0.4rem 0rem 0.15rem;
                }
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    margin: -0.1rem;
                    .addto{
                        a{
                            cursor: pointer;
                            position: relative;
                            padding-top: 100%;
                            &:before,&:after{
                                content: '';
                                display: block;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%,-50%);
                                background-color: #fff;
                                border-radius: 0.06rem;
                            }
                            &:before{
                                height: 0.06rem;
                                width: 0.6rem;
                            }
                            &:after{
                                width: 0.06rem;
                                height: 0.6rem;
                            }
                            input{
                                cursor: pointer;
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                width: 100%;
                                opacity: 0;
                            }
                        }
                    }
                    li{
                        width: 25%;
                        padding: 0.1rem;
                        position: relative;
                        a{
                            display: block;
                            border:0.01rem solid #fff;
                            border-radius: 0.1rem;
                            overflow: hidden;
                            .img-box{
                                padding-top: 100%;
                                @include bgCover();
                            }
                        }
                    }
                }
                .wrap-btn{
                    padding: 1rem 0rem 0.4rem;
                    .btn{
                        line-height: 1rem;
                        background-color: #fff;
                        border-radius: 1rem;
                    }
                }
            }
        }
        .foot-tip{
            position: fixed;
            left: 0;
            right: 0;
            bottom: 1rem;
            z-index: 90;
            .main-width{
                background-color: rgba(0,0,0,0.8);
                padding: 0.06rem 0rem;
                .t-box{
                    display: flex;
                    justify-content: center;
                    line-height: 2;
                }
            }
        }
    }
}
/**06 推荐 end**/
    
    

/**07 已推荐 start**/
.recommendationed{
    .content{
        .box{
            .info{
                ul{
                    li{
                       input{
                           background-color: rgba(0,0,0,0.7);
                       } 
                    }
                }
            }
            .photo{
                ul{
                    .addto{
                        a{
                            background-color: rgba(0,0,0,0.7);
                            &:before,&:after{
                                background-color: #999;
                            }
                        }
                    }
                }
            }
        }
        .reed-msg{
            padding: 1rem 0rem;
        }
    }
}
/**07 已推荐 end**/

